.courses-trainings-card {
  margin: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-rows: 1.8fr auto;
      grid-template-rows: 1.8fr auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 16px 32px;
      grid-template-areas: "card__image card__text" "card__image card__button";
  max-width: 992px;
  padding: 32px;
  margin-bottom: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
          box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card {
    gap: 4px;
    padding: 0;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "card__image" "card__text" "card__button";
  }
}

.courses-trainings-card .card__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card__image;
  background-size: cover;
  height: 352px;
  width: 352px;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
          box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
  border-radius: 8px;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__image {
    height: auto;
  }
}

.courses-trainings-card .card__image .card__price {
  background-image: url("../images/icons/card_pice_bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 16px 8px;
  font-size: 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 160px;
  line-height: 29px;
  text-align: right;
  -webkit-filter: drop-shadow(-2px 2px 2px #330774);
          filter: drop-shadow(-2px 2px 2px #330774);
}

.courses-trainings-card .card__image .image_footer {
  padding: 0 16px;
  font-size: 16px;
  background-color: #741FF2;
  text-align: left;
  line-height: 52px;
  min-height: 52px;
}

.courses-trainings-card .card__image .no-background {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__image {
    width: 100%;
    background-size: cover;
  }
}

.courses-trainings-card .card__text {
  padding: 8px;
  text-align: left;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card__text;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__text {
    /*  hide text  */
    padding: 0;
    height: 0;
    overflow: hidden;
    /* hide text*/
  }
}

.courses-trainings-card .card__text p {
  margin-bottom: 16px;
}

.courses-trainings-card .card__button {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card__button;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__button {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 4px;
  }
}

.courses-trainings-card .hide-text {
  padding: 8px;
  height: auto;
  overflow: visible;
}

.about__content ul {
  margin-bottom: 16px;
}

.about__content ul li {
  max-width: 100%;
}

.about__content ul li:not(:last-child) {
  margin-bottom: 8px;
}
