.courses-trainings-card {
  margin: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-rows: 1.8fr auto;
      grid-template-rows: 1.8fr auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 16px 32px;
      grid-template-areas: "card__image card__text" "card__image card__button";
  max-width: 992px;
  padding: 32px;
  margin-bottom: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
          box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card {
    gap: 4px;
    padding: 0;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "card__image" "card__text" "card__button";
  }
}

.courses-trainings-card .card__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card__image;
  background-size: cover;
  height: 352px;
  width: 352px;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
          box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
  border-radius: 8px;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__image {
    height: auto;
  }
}

.courses-trainings-card .card__image .card__price {
  background-image: url("../images/icons/card_pice_bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 16px 8px;
  font-size: 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 160px;
  line-height: 29px;
  text-align: right;
  -webkit-filter: drop-shadow(-2px 2px 2px #330774);
          filter: drop-shadow(-2px 2px 2px #330774);
}

.courses-trainings-card .card__image .image_footer {
  padding: 0 16px;
  font-size: 16px;
  background-color: #741FF2;
  text-align: left;
  line-height: 52px;
  min-height: 52px;
}

.courses-trainings-card .card__image .no-background {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__image {
    width: 100%;
    background-size: cover;
  }
}

.courses-trainings-card .card__text {
  padding: 8px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  text-align: left;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card__text;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__text {
    /*  hide text  */
    padding: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    /* hide text*/
  }
}

.courses-trainings-card .card__text p {
  margin-bottom: 16px;
}

.courses-trainings-card .card__button {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card__button;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media screen and (max-width: 768px) {
  .courses-trainings-card .card__button {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 4px;
  }
}

.courses-trainings-card .show-text {
  padding: 8px;
  height: auto;
  overflow: visible;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.about__content ul {
  margin-bottom: 16px;
}

.about__content ul li {
  max-width: 100%;
}

.about__content ul li:not(:last-child) {
  margin-bottom: 8px;
}

.form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto 30px auto;
  background: none;
  background-color: #E3D2FC;
  width: 790px;
  max-width: 100%;
  padding: 48px 0 24px 0;
  border-radius: 8px;
  height: auto;
}

.form input {
  margin-bottom: 16px;
}

@media screen and (max-width: 735px) {
  .form {
    padding-top: 24px;
    width: 400px;
    max-height: 100%;
    overflow: scroll;
    z-index: 1000;
  }
}

.form__title {
  color: #330774;
  position: static;
  font-size: 24px;
  margin: 0 0 24px 0 !important;
}

@media screen and (max-width: 768px) {
  .form__title {
    margin: 0 0 24px 0;
  }
}

@media screen and (max-width: 375px) {
  .form__title {
    margin: 0 0 16px 0 !important;
  }
}

.form-container {
  padding: 0;
  display: block;
}

.form-container .flex-row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 32px;
}

.form-container .flex-row div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}

.form-submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 16px;
}

.form-submit button {
  text-transform: uppercase;
  width: 100% !important;
  font-size: 16px !important;
}

.inner-button {
  text-transform: uppercase;
}

.form-consulting-select {
  z-index: 100;
}

.nice-select .list {
  width: 352px !important;
  background-color: #fff;
}

/* cross to close form start */
.cross {
  content: url("../images/icons/cross.svg");
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (max-width: 375px) {
  .cross {
    top: 8px;
    right: 8px;
  }
}

/* cross to close form end */
/* --------------  form privacy-policy ---------*/
input[type="checkbox"] + label {
  cursor: auto;
}

input[type="checkbox"] + label span {
  position: relative;
  right: 32px;
  top: 25%;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -1px -23px 0 0;
  vertical-align: middle;
  background: url("../images/icons/checkbox.svg") 1px 0/auto no-repeat;
  z-index: 0;
}

input[type="checkbox"]:checked + label span {
  background: url("../images/icons/checkbox-active.svg") 0 0/auto no-repeat;
  z-index: 0;
}

@media screen and (max-width: 1261px) {
  .checkbox-container {
    display: unset;
  }
}

.checkbox-item {
  margin: 0 auto;
  max-width: 465px;
}

@media screen and (max-width: 735px) {
  .checkbox-item {
    max-width: 272px;
  }
}

.checkbox-item .checkbox-text a {
  text-decoration: underline;
}

.form-success {
  position: fixed;
  max-width: 576px;
  bottom: -10%;
}
