@charset "UTF-8";
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

@media screen and (max-width: 425px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
    line-height: 24px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-relativ {
  position: relative;
}

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

span {
  display: inline-block;
}

/* container max width -------------------  */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1160px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 24px;
  }
}

/* ------- fixed link -------------- */
.fixed-page-icon {
  position: fixed;
  bottom: 100px;
  right: 13.5%;
  z-index: 1000;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 425px) {
  .fixed-page-icon {
    height: 48px;
    width: 48px;
  }
  .fixed-page-icon img {
    max-width: 100%;
  }
}

.fixed-page-icon:hover {
  opacity: 1;
}

.guillemet::before {
  content: '«';
}

.guillemet::after {
  content: '»';
}

/* ======= start page styling ===========*/
/* ==================  header =================== */
.header {
  padding: 16px 0;
  font-weight: 700;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background: radial-gradient(108.28% 18624.03% at 0% 12.3%, rgba(255, 255, 255, 0.4) 0%, rgba(230, 209, 240, 0.4) 100%);
  -webkit-box-shadow: 0px 2px 4px #E3D2FC;
          box-shadow: 0px 2px 4px #E3D2FC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

@-moz-document url-prefix() {
  .header {
    background: #FFFFFFEB;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 8px 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 5px 0;
  }
}

.header__row {
  margin: 0 auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 160px;
  height: 96px;
  margin-right: 32px;
  position: relative;
}

@media screen and (max-width: 890px) {
  .logo {
    width: 88px;
    height: 54px;
  }
}

.logo .logo-front {
  opacity: 1;
}

.logo img {
  width: 100%;
}

.logo:hover .logo-front {
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
  opacity: 0;
}

.logo:hover .logo-back {
  opacity: 1;
}

.logo-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 96px;
  opacity: 0;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

.header__nav {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 890px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    width: auto;
    border-radius: 8px;
    top: 77px;
    right: 32px;
    background: #FFFFFF;
    -webkit-box-shadow: 2px 2px 4px #330774;
            box-shadow: 2px 2px 4px #330774;
    border-radius: 8px;
    overflow: hidden;
    height: 0;
  }
  .header__nav a {
    margin-right: 0;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 0 24px 32px 24px;
  }
  .header__nav a:first-child {
    padding-top: 24px;
  }
  .header__nav a:last-child {
    padding-bottom: 24px;
  }
  .header__nav.header__nav__active {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    top: 48px;
    right: 32px;
  }
}

@media screen and (max-width: 425px) {
  .header__nav {
    right: 24px;
  }
}

@media screen and (max-width: 375px) {
  .header__nav {
    top: 46px;
  }
}

.header__nav a {
  color: #000;
  margin-right: 32px;
}

@media screen and (max-width: 890px) {
  .header__nav a {
    margin-right: 0;
  }
}

.header__nav a:last-child {
  margin-left: auto;
  margin-right: 0;
}

.header__nav a:hover {
  color: #904CF5;
  text-underline-offset: 30%;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.hamburger_menu {
  display: none;
  background-color: transparent;
}

@media screen and (max-width: 890px) {
  .hamburger_menu {
    display: block;
    position: absolute;
    right: 32px;
    height: 24px;
    width: 24px;
    z-index: 100;
  }
}

@media screen and (max-width: 425px) {
  .hamburger_menu {
    right: 24px;
  }
}

/* main -------------------  */
.main {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* subheader ------------------- */
.subheader {
  background: url("../images/abstract-bg1.jpg") center/cover no-repeat;
  height: 638px;
}

@media screen and (max-width: 768px) {
  .subheader {
    height: 304px;
  }
}

@media screen and (max-width: 375px) {
  .subheader {
    height: 278px;
  }
}

.subheader .container {
  height: 100%;
}

.subheader__content {
  padding-top: 192px;
  height: 100%;
  background: url("../images/Lyudmila-Korolchuk-psychologist-art-therapist.png") left bottom/346px 446px no-repeat;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .subheader__content {
    margin-left: 30px;
    padding-top: 96px;
    background-size: 162px 208px;
  }
}

@media screen and (max-width: 425px) {
  .subheader__content {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .subheader__content {
    padding-top: 80px;
  }
}

.subheader__title {
  margin-left: 30%;
  font-size: 96px;
  max-width: 673px;
  line-height: 110%;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .subheader__title {
    font-size: 48px;
    line-height: 110%;
    max-width: 344px;
  }
}

@media screen and (max-width: 425px) {
  .subheader__title {
    font-size: 32px;
    margin-left: 0;
    width: 100%;
    line-height: 140%;
  }
}

.subheader__title_top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 425px) {
  .subheader__title_top {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.subheader__title_bottom {
  width: 485px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .subheader__title_bottom {
    width: 100%;
    text-align: right;
  }
}

.subheader__title_bottom span {
  display: block;
}

.subheader__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 32px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .subheader__subtitle {
    padding-right: 37px;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .subheader__subtitle {
    padding-right: 0;
  }
}

/* non-main page -----------------*/
.subheader__non-main-page {
  background-image: url("../images/abstract-bg2.jpg");
  background-position: center;
}

.subheader__non-main-page .subheader__title {
  background-image: none;
}

/* non-main page end ------------------ */
/* slogan --------------------*/
.slogan {
  text-align: center;
  position: relative;
  height: 152px;
  background: url("../images/slogan_bg.png") right/100% 100% no-repeat;
  top: -60px;
}

@media screen and (max-width: 1600px) {
  .slogan {
    background: url("../images/slogan_bg.png") right/auto 100% no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .slogan {
    background: url("../images/slogan_bg_medium.png") center/auto 100% no-repeat;
    height: 84px;
    top: -40px;
  }
}

@media screen and (max-width: 375px) {
  .slogan {
    background: url("../images/slogan_bg_small.png") right/auto 100% no-repeat;
    height: 48px;
    top: -20px;
  }
}

.slogan_title {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  font-family: 'Lora';
}

@media screen and (max-width: 1440px) {
  .slogan_title {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 1040px) {
  .slogan_title {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 960px) {
  .slogan_title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 890px) {
  .slogan_title {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 830px) {
  .slogan_title {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 768px) {
  .slogan_title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .slogan_title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .slogan_title {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .slogan_title {
    font-size: 0.7rem;
  }
}

/* about -------------------------*/
.about {
  padding: 64px 0;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 32px 0;
  }
}

@media screen and (max-width: 425px) {
  .about {
    padding: 0 0 32px 0;
  }
}

.about_title {
  text-align: center;
  margin: 0 0 24px 0;
}

.about__main {
  margin-bottom: 8px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 352px 1fr;
      grid-template-columns: 352px 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0 34px;
      grid-template-areas: "about-image about-text" "about-image about-text2";
}

@media screen and (max-width: 768px) {
  .about__main {
        grid-template-areas: "about-image about-text" "about-text2 about-text2";
    gap: 0 14px;
  }
}

@media screen and (max-width: 660px) {
  .about__main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "about-text" "about-text2";
    gap: 0;
  }
}

@media screen and (max-width: 425px) {
  .about__main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "about-text" "about-text2";
    gap: 0;
  }
}

.about__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: about-image;
  max-width: 340px;
}

.about__image img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 660px) {
  .about__image {
    display: none;
  }
}

.about__content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about-text;
  max-width: 100%;
  font-size: 16px;
  line-height: 150%;
}

.about__content:last-child {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about-text2;
}

.about__content p {
  max-width: 735px;
  margin: 0 0 16px 0;
}

.about__content .flex-row {
  margin: 0 0 36px 0;
}

@media screen and (max-width: 768px) {
  .about__content .flex-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }
}

@media screen and (max-width: 660px) {
  .about__content .flex-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 570px) {
  .about__content .flex-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__content ul li {
  background-image: url("../images/icons/list_bullet.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 24px;
  max-width: 350px;
}

.about__content ul li:not(:last-child) {
  margin-bottom: 16px;
}

.button_style {
  border-radius: 60px;
  min-width: 256px;
  min-height: 60px;
  color: #fff !important;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#904CF5));
  background: linear-gradient(#904CF5);
  background-color: #904CF5;
  padding: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button_style:hover {
  color: #fff;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background: linear-gradient(90.43deg, #4D7AF5 3.03%, #904CF5 55.73%, #F54DE9 97.29%);
  -webkit-box-shadow: 1px 1px 4px #330774;
          box-shadow: 1px 1px 4px #330774;
}

.button_style:active {
  -webkit-box-shadow: 2px 2px 4px #330774;
          box-shadow: 2px 2px 4px #330774;
  color: #330774;
}

.button_style:active > span {
  -webkit-box-shadow: inset 4px 4px 16px #904CF5;
          box-shadow: inset 4px 4px 16px #904CF5;
  background: #fff;
  height: 52px;
  width: 100%;
  color: #FFFFFF;
  border-radius: 60px;
  color: #330774;
}

/* Certificates -----------------*/
/*
flex swiper
min-widht: 0;
*/
.certificates {
  max-height: 536px;
  background: radial-gradient(100% 786.95% at 0% 4.74%, #D3DEFC 0%, #E3D2FC 100%);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
  padding: 10px 0;
  margin-bottom: 118px;
}

@media screen and (max-width: 768px) {
  .certificates {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 425px) {
  .certificates {
    margin-bottom: 32px;
  }
}

.certificates__swiper {
  padding: 40px 15px;
}

@media screen and (max-width: 425px) {
  .certificates__swiper {
    padding: 14px 0px;
  }
}

.certificates__swiper-slide {
  text-align: center;
  height: auto;
}

.certificates__swiper-slide:hover {
  z-index: 100;
}

.certificates__swiper-slide :not(:last-child) {
  margin-bottom: 32px;
}

.certificates__swiper-slide img {
  max-width: 256px;
  display: inline;
  border-radius: 8px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.certificates__swiper-slide img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.certificates-pagination {
  position: relative;
  top: 20px;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  margin: 0 32px;
  line-height: 40px;
  background-color: #7a9bf7;
}

@media screen and (max-width: 430px) {
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #2159F2;
}

/* Courses and trainings ---------- */
.courses-trainings {
  text-align: center;
  margin-bottom: 128px;
}

@media screen and (max-width: 768px) {
  .courses-trainings {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 425px) {
  .courses-trainings {
    margin-bottom: 32px;
  }
}

.courses-trainings .container {
  padding: 10px;
}

.courses-trainings__title {
  margin: 0 0 64px 0;
}

@media screen and (max-width: 768px) {
  .courses-trainings__title {
    margin: 0 0 32px 0;
  }
}

@media screen and (max-width: 425px) {
  .courses-trainings__title {
    margin: 0 0 16px 0;
  }
}

/* card section ---------------------- */
.courses-trainings__container {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 32px;
}

@media screen and (max-width: 425px) {
  .courses-trainings__container {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    gap: 14px;
  }
}

.courses-trainings__card {
  position: relative;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  background-size: cover;
}

.flip-card__item {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 8px;
}

.flip-card__container:hover .flip-card_item {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.flip-card-front {
  font-size: 32px;
  line-height: 39px;
  padding: 0 40px;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: left;
  padding-top: 23px;
}

.flip-card__main {
  padding-left: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flip-card-title {
  max-width: 310px;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.flip-card-text {
  font-size: 16px;
  line-height: 20px;
  width: 320px;
  margin-bottom: 8px;
  font-weight: 600;
}

.flip-card-price {
  font-size: 24px;
  line-height: 200%;
  font-weight: 600;
}

.flip-card_footer {
  background-color: #741FF2;
  font-size: 16px;
  text-transform: uppercase;
  height: 60px;
}

.flip-card {
  display: inline-block;
  background-color: transparent;
  width: 352px;
  height: 352px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media screen and (max-width: 425px) {
  .flip-card {
    width: 152px;
    height: 152px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .flip-card:hover {
    width: 352px;
    height: 352px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.flip-card:hover .flip-card__item {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (max-width: 425px) {
  .flip-card-front {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 21px;
    width: 156px;
    height: 156px;
  }
}

.important-about-yourself {
  background-image: url("../images/courses-trainings/about-yourself.png");
}

.important-about-yourself-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/about-yourself.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/about-yourself.png");
  background-size: cover;
}

.treasures-in-the-shadows {
  background-image: url("../images/courses-trainings/treasures-in-the-shadows.png");
}

.treasures-in-the-shadows-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/treasures-in-the-shadows.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/treasures-in-the-shadows.png");
  background-size: cover;
}

.healing-the-inner-child {
  background-image: url("../images/courses-trainings/healing-the-inner-child.png");
}

.healing-the-inner-child-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/healing-the-inner-child.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/healing-the-inner-child.png");
  background-size: cover;
}

.my-life-my-rules {
  background-image: url("../images/courses-trainings/my-life-my-rules.png");
}

.my-life-my-rules-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/my-life-my-rules.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/my-life-my-rules.png");
  background-size: cover;
}

.personal-code-of-your-confidence {
  background-image: url("../images/courses-trainings/code-of-your-confidence.png");
}

.personal-code-of-your-confidence-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/code-of-your-confidence.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/code-of-your-confidence.png");
  background-size: cover;
}

.the-artist-way {
  background-image: url("../images/courses-trainings/artist-way.png");
}

.the-artist-way-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/artist-way.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/artist-way.png");
  background-size: cover;
}

.palette-of-my-soul {
  background-image: url("../images/courses-trainings/palette-of-my-soul.png");
}

.palette-of-my-soul-back {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/courses-trainings/palette-of-my-soul.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/courses-trainings/palette-of-my-soul.png");
  background-size: cover;
}

/* Consulting ----------------------*/
.consulting {
  width: 100%;
  margin-bottom: 64px;
}

@media screen and (max-width: 425px) {
  .consulting {
    margin-bottom: 10px;
  }
}

.consulting_title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 62px;
}

@media screen and (max-width: 768px) {
  .consulting_title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 425px) {
  .consulting_title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.consulting_text1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: consulting_text1;
}

.consulting_text2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: consulting_text2;
}

.consulting_text3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: consulting_text3;
}

.consulting_text4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: consulting_text4;
}

.consulting_text5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: consulting_text5;
}

.consulting_text6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: consulting_text6;
}

.consulting_text7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: consulting_text7;
}

.consulting_image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 2;
  grid-area: consulting_image;
  -ms-flex-item-align: center;
      align-self: center;
}

.consulting__grid {
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 544px 352px;
      grid-template-columns: 544px 352px;
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
  gap: 24px 33px;
      grid-template-areas: "consulting_text1 consulting_image" "consulting_text2 consulting_image" "consulting_text3 consulting_image" "consulting_text4 consulting_image" "consulting_text5 consulting_image" "consulting_text6 consulting_image" "consulting_text7 consulting_image";
}

@media screen and (max-width: 1024px) {
  .consulting__grid {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 768px) {
  .consulting__grid {
    margin-bottom: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (344px)[2];
        grid-template-columns: repeat(2, 344px);
    gap: 24px 16px;
        grid-template-areas: "consulting_text1 consulting_image" "consulting_text2 consulting_image" "consulting_text3 consulting_image" "consulting_text4 consulting_image" "consulting_text5 consulting_image" "consulting_text6 consulting_text7";
  }
}

@media screen and (max-width: 730px) {
  .consulting__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "consulting_text1 consulting_text1" "consulting_text2 consulting_image" "consulting_text3 consulting_image" "consulting_text4 consulting_image" "consulting_text5 consulting_image" "consulting_text6 consulting_text6" "consulting_text7 consulting_text7";
  }
  .consulting__grid img {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .consulting__grid {
        grid-template-areas: "consulting_text1 consulting_text1" "consulting_text2 consulting_image" "consulting_text3 consulting_image" "consulting_text4 consulting_image" "consulting_text5 consulting_text5" "consulting_text6 consulting_text6" "consulting_text7 consulting_text7";
  }
}

@media screen and (max-width: 530px) {
  .consulting__grid {
        grid-template-areas: "consulting_text1 consulting_text1" "consulting_text2 consulting_image" "consulting_text3 consulting_image" "consulting_text4 consulting_text4" "consulting_text5 consulting_text5" "consulting_text6 consulting_text6" "consulting_text7 consulting_text7";
  }
}

@media screen and (max-width: 425px) {
  .consulting__grid {
        grid-template-areas: "consulting_text1 consulting_text1" "consulting_text2 consulting_image" "consulting_text3 consulting_text3" "consulting_text4 consulting_text4" "consulting_text5 consulting_text5" "consulting_text6 consulting_text6" "consulting_text7 consulting_text7";
  }
}

@media screen and (max-width: 375px) {
  .consulting__grid {
    -ms-grid-columns: (156px)[2];
        grid-template-columns: repeat(2, 156px);
  }
}

@media screen and (max-width: 375px) {
  .consulting__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.consultiung__cards {
  max-width: 1120px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultiung__cards_card {
  overflow: hidden;
  background-color: #FFFFFF;
  height: 214px;
  width: 352px;
  padding: 32px 18px;
  text-align: center;
  border: 1px solid #330774;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  .consultiung__cards_card {
    width: 344px;
  }
}

@media screen and (max-width: 425px) {
  .consultiung__cards_card {
    width: 280px;
    height: 194px;
    padding: 32px 12px;
  }
}

.consultiung__cards_card:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 4px 4px 4px rgba(93, 12, 212, 0.4);
          box-shadow: 4px 4px 4px rgba(93, 12, 212, 0.4);
}

.consultiung__cards_card h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 16px 0;
  line-height: 39px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 425px) {
  .consultiung__cards_card h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

.consultiung__cards_card span {
  position: relative;
  top: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.consultiung__cards_card span:not(:last-child) {
  margin: 0 0 16px 0;
}

.consultiung__cards_card .price {
  font-size: 24px;
  opacity: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.consultiung__cards_card:hover span {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  top: 20px;
}

.consultiung__cards_card:hover .price {
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
}

/* ----------- form section --------------------------- */
.form {
  padding: 80px 0 73px 0;
  background: url("../images/bg-form.jpg") 0 0/105% 100% no-repeat;
}

@media screen and (max-width: 768px) {
  .form {
    padding: 40px 0 80px 0;
    background: url("../images/bg-form-medium.jpg") center/cover no-repeat;
  }
}

@media screen and (max-width: 736px) {
  .form {
    padding: 0;
    background: none;
  }
}

.form__title {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  margin: 0 0 21px 0;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .form__title {
    font-size: 24px;
    margin: -24px 0 0 0;
    position: relative;
    z-index: 100;
    top: 60px;
  }
}

@media screen and (max-width: 736px) {
  .form__title {
    font-size: 16px;
    position: relative;
    color: #000;
    margin: -24px 0 0 0;
    top: 40px;
  }
}

/* ============   main form ================ */
.form_input {
  height: 60px;
  padding: 18px 16px;
  border: 1px solid #330774;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.form-container {
  font-size: 14px;
  line-height: 21px;
  max-width: 1214px;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 48px 50px 48px 44px;
  background: #E3D2FC;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (352px)[3];
      grid-template-columns: repeat(3, 352px);
  -ms-grid-rows: 80px 86px 102px 60px;
      grid-template-rows: 80px 86px 102px 60px;
  gap: 32px 24px;
      grid-template-areas: "form-consulting-select form-input-private-data form-textarea" "form-checkbox form-input-private-data form-textarea" "form-checkbox form-input-private-data form-input-date-time" "form-checkbox form-input-private-data form-submit";
}

@media screen and (max-width: 1200px) {
  .form-container {
    padding-top: 76px;
    -ms-grid-columns: (344px)[2];
        grid-template-columns: repeat(2, 344px);
    -ms-grid-rows: 80px 204px 185px 60px;
        grid-template-rows: 80px 204px 185px 60px;
    gap: 30px 24px;
        grid-template-areas: "form-consulting-select form-input-private-data" "form-checkbox                           form-input-private-data" "form-textarea                           form-input-date-time" "form-submit                             form-submit";
  }
}

@media screen and (max-width: 736px) {
  .form-container {
    padding-top: 46px;
    -ms-grid-columns: 328px;
        grid-template-columns: 328px;
    -ms-grid-rows: 162px 90px 184px 430px 100px 60px;
        grid-template-rows: 162px 90px 184px 430px 100px 60px;
    gap: 12px;
        grid-template-areas: "form-textarea" "form-consulting-select" "form-checkbox" " form-input-private-data" "form-input-date-time" "form-submit";
  }
}

@media screen and (max-width: 320px) {
  .form-container {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
}

.form-consulting-select {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form-consulting-select;
}

@media screen and (max-width: 1200px) {
  .form-consulting-select .nice-select-dropdown .list {
    width: 344px;
  }
}

@media screen and (max-width: 736px) {
  .form-consulting-select .nice-select-dropdown .list {
    width: 328px;
  }
}

.form-checkbox {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: form-checkbox;
}

.form-checkbox .checkbox_title {
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .form-checkbox .checkbox-container {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form-checkbox .checkbox-container .checkbox-item {
    width: 155px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 375px) {
  .form-checkbox .checkbox-container .checkbox-item {
    width: 145px;
  }
}

@media screen and (max-width: 1200px) {
  .form-checkbox .checkbox-container .checkbox-item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-checkbox .checkbox-container .checkbox-item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .form-checkbox .checkbox-container .checkbox-item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .form-checkbox .checkbox-container .checkbox-item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .form-checkbox .checkbox-container .checkbox-item:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.form-checkbox .checkbox-container .checkbox-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-checkbox .checkbox-container .checkbox-item:last-child {
  width: 100%;
}

.form-input-private-data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: form-input-private-data;
}

.form-input-private-data label {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .form-input-private-data label {
    margin-bottom: 0;
  }
}

.form-textarea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: form-textarea;
}

.form-textarea textarea {
  height: 169px;
  resize: none;
}

@media screen and (max-width: 1200px) {
  .form-textarea textarea {
    height: 144px;
  }
}

.form-input-date-time {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: form-input-date-time;
}

@media screen and (max-width: 1200px) {
  .form-input-date-time {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.form-submit {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: form-submit;
}

.form-submit button {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .form-submit {
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 16px;
  }
  .form-submit button {
    width: 344px;
  }
}

@media screen and (max-width: 768px) {
  .form-submit button {
    max-width: 100%;
  }
}

/* ======= custom checkbox button ==========*/
input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -1px 16px 0 0;
  vertical-align: middle;
  background: url("../images/icons/checkbox.svg") 1px 0/auto no-repeat;
}

input[type="checkbox"]:checked + label span {
  background: url("../images/icons/checkbox-active.svg") 0 0/auto no-repeat;
}

@media screen and (max-width: 1261px) {
  .checkbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* ======= custom checkbox button end==========*/
/*  ============ feedbacks  ===================  */
.feedback {
  max-width: 1120px;
  margin: 0 auto;
  padding: 128px 0 64px 0;
}

@media screen and (max-width: 768px) {
  .feedback {
    padding: 64px 0;
  }
}

@media screen and (max-width: 425px) {
  .feedback {
    padding: 32px 0;
  }
}

.feedback_title {
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .feedback_title {
    margin-bottom: 32px;
  }
}

.feedback__card_swiper-slide div {
  border-radius: 8px;
  padding: 16px;
  width: 352px;
  height: 248px;
  border: 1px solid #330774;
  background: white;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(116, 31, 242, 0.6));
          filter: drop-shadow(2px 2px 4px rgba(116, 31, 242, 0.6));
}

.feedback__card_swiper-slide div:hover {
  -webkit-box-shadow: 2px 2px 4px rgba(116, 31, 242, 0.6);
          box-shadow: 2px 2px 4px rgba(116, 31, 242, 0.6);
  -webkit-box-shadow: 2px 2px 4px #741FF2;
          box-shadow: 2px 2px 4px #741FF2;
}

@media screen and (max-width: 768px) {
  .feedback__card_swiper-slide div {
    width: 344px;
  }
}

@media screen and (max-width: 425px) {
  .feedback__card_swiper-slide div {
    width: 328px;
    height: 256px;
    padding: 8px;
  }
}

@media screen and (max-width: 320px) {
  .feedback__card_swiper-slide div {
    height: auto;
  }
}

.feedback_text {
  text-align: left;
  font-family: 'Lora';
  font-size: 16px;
  line-height: 150%;
}

/* blog ---------------------------------*/
.blog {
  text-align: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .blog {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 425px) {
  .blog {
    margin-bottom: 32px;
  }
}

.blog__title {
  font-size: 48px;
  margin-bottom: 32px;
}

@media screen and (max-width: 425px) {
  .blog__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

/*---- Blog Articles -------------------*/
.blog__article {
  margin-bottom: 32px;
}

.blog__article_title {
  font-size: 32px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .blog__article_title {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 425px) {
  .blog__article_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .article__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.article__grid {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 32px;
}

@media screen and (max-width: 768px) {
  .article__grid {
    margin-right: 16px;
  }
}

.article__grid .grid {
  max-width: 736px;
  height: 160px;
  margin-bottom: 32px;
  -ms-grid-columns: 160px auto;
      grid-template-columns: 160px auto;
  -ms-grid-rows: 0.6fr 1.8fr 0.6fr;
      grid-template-rows: 0.6fr 1.8fr 0.6fr;
  grid-auto-rows: 1fr;
  gap: 8px 28px;
  grid-auto-flow: column dense;
      grid-template-areas: "photo title" "photo paragragh" "photo link";
}

@media screen and (max-width: 768px) {
  .article__grid .grid {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-auto-columns: 1fr;
    -ms-grid-rows: 160px 29px 1fr 29px;
        grid-template-rows: 160px 29px 1fr 29px;
    gap: 4px 0px;
    height: 294px;
        grid-template-areas: "photo" "title" "paragragh" "link";
  }
}

.article__grid .article__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: photo;
  border-radius: 8px;
  overflow: hidden;
}

.article__grid .article__image img {
  display: inline-block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
}

@media screen and (max-width: 768px) {
  .article__grid .article__image img {
    -o-object-position: center;
       object-position: center;
  }
}

.article__grid .article__title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

@media screen and (max-width: 1024px) {
  .article__grid .article__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .article__grid .article__title {
    font-size: 18px;
  }
}

.article__grid .article__text {
  text-align: left;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: paragragh;
  font-size: 16px;
  line-height: 150%;
  max-height: 100px;
  overflow-y: hidden;
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article__grid .article__link {
  text-align: right;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: link;
  font-size: 18px;
  line-height: 150%;
  padding: 0 32px 0 0;
  background-image: url("../images/icons/read-more.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/* ========================= accordion =======================*/
.accordion {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 352px;
          flex: 0 0 352px;
  width: 352px !important;
  max-height: 594px;
  border-radius: 8px;
  overflow-y: hidden;
}

@media screen and (max-width: 700px) {
  .accordion {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.accordion .accordion__box {
  position: relative;
}

.accordion .accordion__box.active .accordion_title {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion .accordion__box.active .accordion_title::after {
  content: url("../images/accordion/arrowUp.svg");
}

.accordion .accordion__box.active .accordion__content {
  height: 438px;
  padding: 16px 8px;
}

.accordion_title {
  text-align: left;
  position: relative;
  font-weight: 500;
  line-height: 150%;
  font-size: 24px;
  padding: 8px;
  background-color: #904CF5;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 2px 8px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0px 2px 8px rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accordion_title::after {
  content: url("../images/accordion/arrowDown.svg");
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  height: 0;
  position: relative;
  background-color: #E3D2FC;
  overflow-y: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  padding: 0 8px;
}

.accordion__content .accordion-img {
  display: block;
  height: 64px !important;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 32px 0 0;
}

.accordion__content .accordion-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 110%;
  height: 110%;
}

.accordion__content .flex-row:not(:last-child) {
  margin: 0 0 16px 0;
}

.accordion_text {
  font-weight: bold;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*---- Blog Video  ---------------------*/
.blog__video {
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .blog__video {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 425px) {
  .blog__video {
    margin-bottom: 32px;
  }
}

.blog__video_title {
  font-size: 32px;
  line-height: 150%;
  margin: 64px auto 32px auto;
}

@media screen and (max-width: 768px) {
  .blog__video_title {
    margin: 0 auto 16px auto;
  }
}

@media screen and (max-width: 425px) {
  .blog__video_title {
    font-size: 18px;
  }
}

.blog__video_link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 22px 0;
}

.blog__video_link img {
  position: relative;
  top: 7px;
}

.blog__video-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
}

.blog__video-item {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
  height: 192px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#741FF2), color-stop(15.03%, #C7A5FA), color-stop(27.01%, rgba(255, 255, 255, 0.2)), color-stop(38.52%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #741FF2 0%, #C7A5FA 15.03%, rgba(255, 255, 255, 0.2) 27.01%, rgba(255, 255, 255, 0) 38.52%);
}

@media screen and (max-width: 768px) {
  .blog__video-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 344px;
            flex: 0 1 344px;
  }
  .blog__video-item:last-child {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .blog__video-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 344px;
            flex: 0 0 344px;
  }
  .blog__video-item:first-child {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .blog__video-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 310px;
            flex: 0 0 310px;
  }
}

/*----- blog Gallery --------------------*/
.blog__gallery {
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .blog__gallery {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 425px) {
  .blog__gallery {
    margin-bottom: 32px;
  }
}

.blog__gallery_title {
  line-height: 150%;
  font-size: 32px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .blog__gallery_title {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 425px) {
  .blog__gallery_title {
    font-size: 18px;
  }
}

.blog__gallery_text {
  max-width: 550px;
  margin: 0 auto 32px auto;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .blog__gallery_text {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 425px) {
  .blog__gallery_text {
    font-size: 18px;
  }
}

/* hide on 768*/
@media screen and (max-width: 768px) {
  .hide-on-768 {
    display: none;
  }
}

.visible-on-768 {
  display: none;
}

@media screen and (max-width: 768px) {
  .visible-on-768 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.visible-on-425 {
  display: none;
}

@media screen and (max-width: 425px) {
  .visible-on-425 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .hide-on-425 {
    display: none;
  }
}

.image-container {
  gap: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2%;
  position: relative;
}

.image-item {
  max-width: 352px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.image-item img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Blog  Poetry ------------------------*/
.poetry {
  padding: 0 0 32px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
}

.blog__poetry_title {
  margin: 0 0 32px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .blog__poetry_title {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 425px) {
  .blog__poetry_title {
    margin-bottom: 16px;
  }
}

.blog__portey_sub-title {
  margin: 0 0 32px 0;
}

/* ---- poetry card ------ */
.poetry__card {
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px #904CF5;
          box-shadow: 4px 4px 8px #904CF5;
  overflow-y: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
  height: 352px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .poetry__card:last-child {
    display: none;
  }
}

@media screen and (max-width: 733px) {
  .poetry__card:nth-child(2) {
    display: none;
  }
}

.poetry__card:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 4px 4px 18px #904CF5;
          box-shadow: 4px 4px 18px #904CF5;
}

.poetry__card_paraghraph {
  text-align: left;
  background: -webkit-linear-gradient(#000, #999, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.poetry__card_paraghraph:hover {
  background: -webkit-linear-gradient(#999, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media screen and (max-width: 425px) {
  .poetry__card_paraghraph:hover {
    opacity: 1;
    background: -webkit-linear-gradient(#000, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 425px) {
  .poetry__card_paraghraph {
    opacity: 1;
    background: -webkit-linear-gradient(#000, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.poetry__card_paraghraph p:not(:last-child) {
  line-height: 150%;
  margin: 0 0 16px 0;
}

.poetry-link,
.feedback-link,
.gallery-link {
  font-size: 16px;
  color: #000;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-image: url("../images/icons/read-more.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/* contacts ------------------------- */
.contacts {
  margin-bottom: 64px;
}

.contacts_title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  margin-bottom: 32px;
}

@media screen and (max-width: 425px) {
  .contacts_title {
    font-size: 24px;
  }
}

.contacts__row {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 650px) {
  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__column {
  max-width: 290px;
  margin: 0 60px 20px 0;
  gap: 16px;
}

.contacts__column a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__column:last-child {
  margin: 0;
}

.contacts__column img {
  padding-right: 8px;
}

.contacts__column li {
  display: inline-block;
  margin-right: 8px;
}

@media screen and (max-width: 544px) {
  .contacts__column {
    min-width: 280px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 20px 0;
  }
}

/* -------------------- footer --------------------- */
.footer {
  background-color: #C7A5FA;
  color: #fff;
  font-size: 14px;
  padding: 34px 0 16px 0;
}

.footer__container {
  margin-bottom: 24px;
  -ms-grid-columns: 160px auto auto;
      grid-template-columns: 160px auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 26px;
  grid-auto-flow: row;
      grid-template-areas: "footer__logo footer__links footer__icons";
  height: auto;
}

@media screen and (max-width: 768px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 160px 1fr 0.5fr;
        grid-template-columns: 160px 1fr 0.5fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 26px;
        grid-template-areas: "footer__logo footer__links footer__icons" "footer__logo footer__links footer__icons" ". . footer__icons";
    height: 132px;
  }
}

@media screen and (max-width: 650px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 52px 1fr 1.5fr;
        grid-template-rows: 52px 1fr 1.5fr;
    gap: 15px 0px;
    height: auto;
        grid-template-areas: "footer__logo footer__logo footer__logo" "footer__links footer__links footer__links" "footer__icons footer__icons footer__icons";
  }
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer__logo;
}

@media screen and (max-width: 650px) {
  .footer__logo img {
    width: 88px;
  }
}

.footer__logo img {
  display: inline-block;
  max-width: 100%;
}

.footer__links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer__links;
}

@media screen and (max-width: 900px) {
  .footer__links {
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.footer__links li a img {
  margin-right: 8px;
}

.footer__links li:first-child {
  margin-right: 90px;
}

@media screen and (max-width: 900px) {
  .footer__links li:first-child {
    margin-right: 0;
  }
}

.footer__icons {
  gap: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer__icons;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1080px) {
  .footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__icons .flex-row {
  gap: 16px;
}

.footer__bottom {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .footer__bottom {
    text-align: left;
  }
}
