@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Calligraphy', sans-serif;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

span {
  display: inline-block;
}

/* container max width -------------------  */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 724px;
  }
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 350px;
  }
}

/* header --------------------------------- */
.header {
  font-weight: 600;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background: radial-gradient(108.28% 18624.03% at 0% 12.3%, rgba(255, 255, 255, 0.4) 0%, rgba(230, 209, 240, 0.4) 100%);
  -webkit-box-shadow: 0px 2px 4px #E3D2FC;
          box-shadow: 0px 2px 4px #E3D2FC;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.header__row {
  margin: 0 auto;
  width: 100%;
  min-height: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 160px;
  margin-right: 32px;
}

.header__nav {
  width: 100%;
}

.header__nav a {
  margin-right: 32px;
}

.header__nav a:last-child {
  margin-right: 0;
  margin-left: auto;
}

/* main -------------------  */
.main {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* subheader ------------------- */
.subheader {
  background-image: url("../img/abstract-background-1.jpg");
  padding-top: 192px;
  background-repeat: no-repeat;
  background-size: cover;
}

.subheader__title {
  min-height: 446px;
  background-image: url("../img/subheader_main_image.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  text-align: center;
  font-weight: 600;
}

.subheader__title_header {
  font-size: 96px;
  max-width: 650px;
  line-height: 110%;
  font-weight: 500;
  margin-left: 17%;
  font-weight: 400;
  font-style: italic;
}

.subheader__title_header span:last-child {
  margin-left: 45%;
}

.subheader__title_text {
  font-size: 32px;
  margin-left: 23%;
}

/* subheader2 --------------------*/
.subheader2 {
  background: url("../img/subheader2__backgrpund.png") 0 0/100% 100% no-repeat;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}

.subheader2_title {
  min-height: 152px;
  color: #fff;
  font-size: 46px;
  font-style: italic;
  text-align: center;
}

/* about -------------------------*/
.about {
  padding: 32px 0;
}

.about_title {
  text-align: center;
  font-size: 46px;
  margin: 0 0 32px 0;
}

.about__main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.about__content {
  max-width: 735px;
  font-size: 16px;
  line-height: 150%;
}

.about__content p {
  margin: 0 0 16px 0;
}

.about__content .flex-row {
  margin: 0 0 36px 0;
}

.about__content ul li {
  background-image: url("../svg/list_bullet.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 24px;
  max-width: 350px;
}

.about__content ul li:not(:last-child) {
  margin-bottom: 16px;
}

.about_button {
  background: #904CF5;
  border-radius: 60px;
  min-width: 256px;
  min-height: 60px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.about_button:hover {
  -webkit-box-shadow: inset 4px 4px 16px #fff;
          box-shadow: inset 4px 4px 16px #fff;
  color: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

/* Certificates -----------------*/
.certificates {
  background: radial-gradient(100% 786.95% at 0% 4.74%, #D3DEFC 0%, #E3D2FC 100%);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
  padding: 40px 0;
}

.certificates__carousel {
  min-height: 464px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

/* Courses and trainings ---------- */
.coursese-and-trainungs {
  padding: 40px 0;
  text-align: center;
}

.coursese-and-trainungs__title {
  margin: 0 0 32px 0;
}

.coursese-and-trainungs__cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 32px;
}

.coursese-and-trainungs__cards_card {
  width: 352px;
  height: 352px;
  border: grey 5px solid;
}

/* Consulting ----------------------*/
.consulting {
  padding: 40px 0;
}

.consulting__title {
  text-align: center;
  margin-bottom: 40px;
}

.consulting__content {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.consulting__content_text {
  font-size: 16px;
  line-height: 150%;
  max-width: 510px;
  margin: 0 0 16px 0;
}

.content-item_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.consultiung__cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultiung__cards_card {
  padding: 32px 16px;
  gap: 16px;
  text-align: center;
  border: 1px solid #330774;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(93, 12, 212, 0.4);
          box-shadow: 4px 4px 4px rgba(93, 12, 212, 0.4);
  border-radius: 8px;
}

.consultiung__cards_card h3 {
  font-size: 32px;
  line-height: 37px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/* form --------------------------- */
.form {
  padding: 74px 0 82px 0;
  background: url("../img/form-background.png"), url("../img/form-background.png");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}

.form__title {
  font-size: 32px;
  line-height: 150%;
  font-weight: 700;
  color: #fff;
  margin: 0 0 40px 0;
  text-align: center;
}

.form-container {
  margin: 0 auto;
  /* if adding new content make width bigger */
  max-width: 1230px;
}

.form__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #E3D2FC;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 8px;
  padding: 48px;
}

.form__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 354px;
          flex: 0 1 354px;
}

.form__column label {
  margin: 0 0 4px 0;
}

.form__column input {
  margin: 0 0 24px 0;
}

.form__column div {
  margin: 0 0 16px 0;
}

.form__column textarea {
  min-height: 172px;
  resize: none;
  margin-bottom: 24px;
}

.form__column input[type=checkbox] {
  margin-right: 16px;
}

.form__column button[type=submit] {
  background: #904CF5;
  border-radius: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  min-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.form__column button[type=submit]:hover {
  -webkit-box-shadow: inset 1px 1px 16px #fff;
          box-shadow: inset 1px 1px 16px #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.form_input {
  height: 60px;
  padding: 18px 16px;
  border: 1px solid #330774;
  border-radius: 8px;
}

/* blog ----------------------------*/
.blog {
  text-align: center;
}

.blog__title {
  padding: 40px 0;
  font-size: 2rem;
}

/*---- Blog Articles -------------------*/
.article-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 736px;
          flex: 0 1 736px;
}

.cardion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 351px;
          flex: 0 1 351px;
}

.blog__article_title {
  margin: 0 0 31px 0;
}

.article__section {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.article__section:not(:last-child) {
  margin-bottom: 32px;
}

.article__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  width: 160px;
  height: 160px;
  border-radius: 8px;
  background-color: grey;
}

.article__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 547px;
          flex: 0 1 547px;
  text-align: left;
}

.article__content_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.article__content_paragraph {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  line-height: 150%;
  max-height: 100px;
  overflow-y: hidden;
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article__content_read-more {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  line-height: 150%;
  padding: 0 32px 0 0;
  background-image: url("../svg/read-more.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.article-main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 736px;
          flex: 0 1 736px;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
}

.accordion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 351px;
          flex: 0 1 351px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.accordion_title {
  font-weight: 500;
  line-height: 150%;
  font-size: 24px;
  padding: 8px;
  background-color: #904CF5;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.accordion__content {
  padding: 8px;
  background-color: #E3D2FC;
  color: black;
}

.accordion__content img {
  border-radius: 8px;
  margin: 0 32px 0 0;
}

.accordion__content .flex-row:not(:last-child) {
  margin: 0 0 16px 0;
}

.accordion_icon_up {
  background-image: url("/img/accordion/arrowUp.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.accordion_icon_down {
  background-image: url("/img/accordion/arrowDown.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.accordion_text {
  font-weight: bold;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*---- Blog Video  ---------------------*/
.blog__video_title {
  padding: 40px 0;
}

.blog__video_link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 22px 0;
}

.blog__video__carousel {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__video__carousel_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
  height: 200px;
  border-radius: 8px;
  border: 2px solid red;
}

/*----- blog Gallery --------------------*/
.blog__gallery {
  padding: 98px 0 48px 0;
}

.blog__portey_sub-title {
  margin: 0 0 32px 0;
}

.blog__gallery_title {
  padding: 40px 0;
}

.blog__gallery__text {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog__gallery_paragragh {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
  text-align: left;
}

.image-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-container .image-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.image-container .image-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-container .image-item img:hover {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

/* Blog  Poetry ------------------------*/
.blog__poetry {
  padding: 0 0 40px 0;
}

.poetry__section {
  padding: 0 0 32px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__poetry_title {
  margin: 0 0 32px 0;
}

.poetry__card {
  padding: 10px 10px 0 10px;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px #904CF5;
          box-shadow: 4px 4px 8px #904CF5;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
  max-height: 352px;
  position: relative;
}

.poetry__card::after {
  content: '';
  margin-top: 40px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45.1%, rgba(255, 255, 255, 0.19)), color-stop(90%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.19) 45.1%, #FFFFFF 90%);
  position: absolute;
  top: 0px;
  left: 0px;
}

.poetry__card_svg {
  margin: 0 0 17px 0;
}

.poetry__card_paraghraph {
  text-align: left;
}

.poetry__card_paraghraph p {
  line-height: 150%;
  margin: 0 0 16px 0;
}

.poetry-more {
  padding-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-image: url("../svg/read-more2.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/* contacts ------------------------- */
.contacts {
  min-height: 252px;
}

/* footer -------------------  */
.footer {
  min-height: 326px;
  background-color: #C7A5FA;
  color: #fff;
}
