.blog__title {
    margin-bottom: 64px;
}

// article start

.blog__article_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
}

.article-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 24px;
    font-family: 'Montserrat',
        sans-serif;
}

.article__container {
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 352px 1fr;
    grid-template-rows: 528px auto auto;
    gap: 16px 32px;
    grid-template-areas: "article__image article__text"
        "article__links                 article__text"
        "acordion                       article__text";
    max-width: 931px;

    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr 1fr;
    }

    // @media screen and (max-width:425px) {
    @media screen and (max-width:600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 284px auto auto auto;
        grid-template-areas: "article__image"
            "article__text"
            "article__links"
            "acordion";
    }
}

.article__text {
    grid-area: article__text;
    text-align: left;

    p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 24px;

    }

    .custom-background {
        background: linear-gradient(261.82deg, #C7A5FA -10.12%, rgba(199, 165, 250, 0.2) 94.87%);
        box-shadow: 2px 2px 4px rgba(116, 31, 242, 0.6);
        border-radius: 8px;
        padding: 16px;
        font-weight: 500;
    }

    span {
        display: block;
        text-align: right;
    }
}

.article__image {
    grid-area: article__image;
    border-radius: 8px;
    overflow: hidden;


    img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;

        @media screen and (max-width:425px) {
            // object-position: center;
            object-fit: cover;
        }

    }
}

.article__links {
    grid-area: article__links;
    text-align: left;


    .link__grid {
        &:first-child {
            display: none;
        }

        margin-bottom: 16px;
        grid-auto-columns: 1fr;
        grid-template-columns: 64px auto;
        grid-template-rows: auto auto;
        gap: 0px 16px;
        grid-template-areas: "link_image link_header"
        "link_image link_text";


        .link__grid_image {
            grid-area: link_image;
            width: 64px;
            height: 64px;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .link__grid_header {
            grid-area: link_header;
            font-size: 18px;
            line-height: 150%;
        }

        .link__grid_text {
            grid-area: link_text;
            font-size: 16px;
            max-height: 72px;
            overflow-y: hidden;
            background: -webkit-linear-gradient(#000, #fff);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: hidden;
        }
    }
}

.article__accordion {
    grid-area: acordion;
    align-self: start;
}

// --------- article end ---------//

// --------- Poetry start --------//

.blog__poetry {
    margin-bottom: 64px;
}

.blog__poetry_title,
.blog__poetry_text {
    max-width: 352px;
    margin: 0 auto 24px auto;
}

// poetry corousel cards

.poetry-cards {
    max-width: 550px;
}

.poetry__lists-item {
    overflow: hidden;
    box-shadow: 4px 4px 8px #904CF5;
    border-radius: 8px;
    // padding: 8px 8px 16px 8px;
    padding: 16px;
    background-color: #fff;

    .poetry__paraghraph {
        max-width: fit-content;
        margin: 0 auto;
    }

    p {
        margin-bottom: 1rem;
        text-align: left;

        span {
            display: block;
        }
    }
}

// Poetry end


// --------------- Gallery start 
.blog__gallery {
    .container {
        padding: 0;
    }
}

.images-container1 {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 0.65fr 1.4fr 1.4fr 0.65fr;
    grid-template-rows: 200px;
    gap: 0 24px;
    grid-template-areas:
        "image1 image2 image3 image4";
    // max-width: 1120px;

    div {
        border-radius: 8px;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 0.5fr 1.5fr 0.5fr;
        grid-template-areas: "image1 image2 image4";
        gap: 0 16px;

        .image3 {
            display: none;
        }
    }

    @media screen and (max-width:425px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image1 image4";

        .image2 {
            display: none;
        }
    }
}

.images-container2 {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 0 24px;
    grid-template-areas:
        "image5 image6 image7";

    div {
        border-radius: 8px;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image5 image7";
        gap: 0 16px;

        .image6 {
            display: none;
        }
    }

    @media screen and (max-width:425px) {
        grid-template-columns: 1fr;
        grid-template-areas: "image5";

        .image7 {
            display: none;
        }
    }
}

.images-container3 {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 0.65fr 1.4fr 1.4fr 0.65fr;
    grid-template-rows: 200px;
    gap: 0 24px;
    grid-template-areas:
        "image9 image8 image12 image10";

    div {
        border-radius: 8px;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 0.5fr 1.5fr 0.5fr;
        grid-template-areas: "image9 image12 image10";
        gap: 0 16px;

        .image8 {
            display: none;
        }
    }

    @media screen and (max-width:425px) {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "image12 image10";

        .image9 {
            display: none;
        }
    }
}

.images-container4 {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 0.65fr 0.65fr;
    grid-template-rows: 200px;
    gap: 0 24px;
    grid-template-areas:
        "image18 image17 image11 image14";

    div {
        border-radius: 8px;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-areas: "image18 image17 image11";
        gap: 0 16px;

        .image14 {
            display: none;
        }
    }

    @media screen and (max-width:425px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image17 image11";

        .image18 {
            display: none;
        }
    }
}

.images-container5 {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 0.65fr 0.65fr;
    grid-template-rows: 200px;
    gap: 0 24px;
    grid-template-areas:
        "image20 image19 image15 image13";

    div {
        border-radius: 8px;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: repeat(4, 0.5fr);
        gap: 0 16px;

        .image3 {
            display: none;
        }
    }

    @media screen and (max-width:425px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image15 image13";

        .image20,
        .image19 {
            display: none;
        }
    }
}

.image1 {
    grid-area: image1;
    background-image: url('../images/galerry/gallery-small/img1.jpg');
    background-size: cover;
    background-position: center;
}

.image2 {
    grid-area: image2;
    background-image: url('../images/galerry/gallery-small/img2.jpg');
    background-size: cover;
    background-position: center;
}

.image3 {
    grid-area: image3;
    background-image: url('../images/galerry/gallery-small/img3.jpg');
    background-size: cover;
    background-position: center;
}

.image4 {
    grid-area: image4;
    background-image: url('../images/galerry/gallery-small/img4.jpg');
    background-size: cover;
    background-position: center;
}

.image5 {
    grid-area: image5;
    background-image: url('../images/galerry/gallery-small/img5.jpg');
    background-size: cover;
    background-position: center;
}

.image6 {
    grid-area: image6;
    background-image: url('../images/galerry/gallery-small/img6.jpg');
    background-size: cover;
    background-position: center;
}

.image7 {
    grid-area: image7;
    background-image: url('../images/galerry/gallery-small/img7.jpg');
    background-size: cover;
    background-position: center;
}

.image8 {
    grid-area: image8;
    background-image: url('../images/galerry/gallery-small/img8.jpg');
    background-size: cover;
    background-position: center;
}

.image9 {
    grid-area: image9;
    background-image: url('../images/galerry/gallery-small/img-blog9.jpg');
    background-size: cover;
    background-position: center;
}

.image10 {
    grid-area: image10;
    background-image: url('../images/galerry/gallery-small/img-blog10.jpg');
    background-size: cover;
    background-position: center;
}

.image11 {
    grid-area: image11;
    background-image: url('../images/galerry/gallery-small/img-blog11.jpg');
    background-size: cover;
    background-position: center;
}

.image12 {
    grid-area: image12;
    background-image: url('../images/galerry/gallery-small/img-blog12.jpg');
    background-size: cover;
    background-position: center;
}

.image13 {
    grid-area: image13;
    background-image: url('../images/galerry/gallery-small/img-blog13.jpg');
    background-size: cover;
    background-position: center;
}

.image14 {
    grid-area: image14;
    background-image: url('../images/galerry/gallery-small/img-blog14.jpg');
    background-size: cover;
    background-position: center;
}

.image15 {
    grid-area: image15;
    background-image: url('../images/galerry/gallery-small/img-blog15.jpg');
    background-size: cover;
    background-position: center;
}

.image16 {
    grid-area: image16;
    background-image: url('../images/galerry/gallery-small/img-blog16.jpg');
    background-size: cover;
    background-position: center;
}

.image17 {
    grid-area: image17;
    background-image: url('../images/galerry/gallery-small/img-blog17.jpg');
    background-size: cover;
    background-position: center;
}

.image18 {
    grid-area: image18;
    background-image: url('../images/galerry/gallery-small/img-blog18.jpg');
    background-size: cover;
    background-position: center;
}

.image19 {
    grid-area: image19;
    background-image: url('../images/galerry/gallery-small/img-blog19.jpg');
    background-size: cover;
    background-position: center;
}

.image20 {
    grid-area: image20;
    background-image: url('../images/galerry/gallery-small/img-blog20.jpg');
    background-size: cover;
    background-position: center;
}

// --------- Gallery end