.courses-trainings-card {
    margin: 0 auto;
    grid-auto-columns: 1fr;
    grid-template-rows: 1.8fr auto;
    grid-template-columns: auto auto;
    gap: 16px 32px;
    grid-template-areas: "card__image card__text"
        "card__image card__button";
    max-width: 992px;
    padding: 32px;
    margin-bottom: 16px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
    border-radius: 8px;
    overflow: hidden;

    @media screen and (max-width:768px) {
        // gap: 16px;
        gap: 4px;
        padding: 0;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "card__image"
            "card__text"
            "card__button";
    }

    .card__image {
        grid-area: card__image;
        background-size: cover;
        height: 352px;
        width: 352px;
        box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
        border-radius: 8px;
        overflow: hidden;
        align-self: center;
        color: #fff;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        justify-content: space-between;

        @media screen and (max-width:768px) {
            height: auto;
        }

        .card__price {
            background-image: url('../images/icons/card_pice_bg.svg');
            background-repeat: no-repeat;
            background-position: top right;
            padding: 16px 8px;
            font-size: 24px;
            align-self: flex-end;
            min-width: 160px;
            line-height: 29px;
            text-align: right;
            filter: drop-shadow(-2px 2px 2px #330774);
        }

        .image_footer {
            padding: 0 16px;
            font-size: 16px;
            background-color: #741FF2;
            text-align: left;
            line-height: 52px;
            min-height: 52px;
        }

        .no-background {
            background-color: transparent;
        }


        @media screen and (max-width:768px) {
            // height: 100%;
            width: 100%;
            background-size: cover;
        }
    }

    .card__text {
        padding: 8px;
        transition: .3s linear;

        @media screen and (max-width:768px) {
            /*  hide text  */
            padding: 0;
            height: 0;
            overflow: hidden;
            transition: .3s linear;
            /* hide text*/

        }

        text-align: left;
        grid-area: card__text;

        p {
            margin-bottom: 16px;
        }
    }

    .card__button {
        grid-area: card__button;
        justify-self: end;

        @media screen and (max-width:768px) {
            justify-self: center;
            margin-bottom: 4px;
        }
    }

    .show-text {
        padding: 8px;
        height: auto;
        overflow: visible;
        // height: 0;
        // overflow: hidden;
        // opacity: 0;
        transition: .3s linear;

    }
}

.about__content {
    ul {
        margin-bottom: 16px;

        li {
            max-width: 100%;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

.form {
    display: none;
    // opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // display: inline-block;
    margin: 0 auto 30px auto;
    background: none;
    background-color: #E3D2FC;
    width: 790px;
    max-width: 100%;
    padding: 48px 0 24px 0;
    border-radius: 8px;
    height: auto;

    input {
        margin-bottom: 16px;
    }

    @media screen and (max-width:735px) {
        padding-top: 24px;
        width: 400px;
        max-height: 100%;
        overflow: scroll;
        z-index: 1000;
    }

}

.form__title {
    color: #330774;
    position: static;
    font-size: 24px;
    margin: 0 0 24px 0 !important;

    @media screen and (max-width:1440px) {}

    @media screen and (max-width:1024px) {}

    @media screen and (max-width:768px) {
        margin: 0 0 24px 0;
    }

    @media screen and (max-width:425px) {
        // margin-bottom: 8px;
    }

    @media screen and (max-width:375px) {
        margin: 0 0 16px 0 !important;
    }

    @media screen and (max-width:320px) {}
}

.form-container {
    padding: 0;
    display: block;

    .flex-row {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 0 32px;

        div {
            flex: 0 1 352px;
        }
    }
}

.form-submit {
    align-self: center;
    margin-bottom: 16px;

    button {
        text-transform: uppercase;
        width: 100% !important;
        font-size: 16px !important;


    }
}

.inner-button {
    text-transform: uppercase;

}

.form-consulting-select {
    z-index: 100;
}

.nice-select .list {
    width: 352px !important;
    background-color: #fff;
}

/* cross to close form start */
.cross {
    content: url("../images/icons/cross.svg");
    height: 24px;
    width: 24px;
    position: absolute;
    top: 16px;
    right: 16px;

    @media screen and (max-width:375px) {
        top: 8px;
        right: 8px;
    }

    @media screen and (max-width:320px) {}
}

/* cross to close form end */

/* --------------  form privacy-policy ---------*/

input[type="checkbox"]+label {
    cursor: auto;

}

input[type="checkbox"]+label span {
    position: relative;
    right: 32px;
    top: 25%;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -1px -23px 0 0;
    vertical-align: middle;
    background: url('../images/icons/checkbox.svg') 1px 0 /auto no-repeat;
    z-index: 0;
}

input[type="checkbox"]:checked+label span {
    // margin: -2px 16px 0 0;
    background: url('../images/icons/checkbox-active.svg') 0 0 /auto no-repeat;
    z-index: 0;
}

.checkbox-container {
    @media screen and (max-width: 1261px) {
        display: unset;
        // flex-direction: row;
        // justify-content: space-around;
    }
}

.checkbox-item {
    margin: 0 auto;
    max-width: 465px;

    @media screen and (max-width:735px) {
        max-width: 272px;
    }

    .checkbox-text {

        a {
            text-decoration: underline;
        }
    }
}

.form-success {
    // display: block;
    position: fixed;
    // margin: 0 auto;
    max-width: 576px;
}