.courses-trainings-card {
    margin: 0 auto;
    grid-auto-columns: 1fr;
    grid-template-rows: 1.8fr auto;
    grid-template-columns: auto auto;
    gap: 16px 32px;
    grid-template-areas: "card__image card__text"
        "card__image card__button";
    max-width: 992px;
    padding: 32px;
    margin-bottom: 16px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
    border-radius: 8px;
    overflow: hidden;

    @media screen and (max-width:768px) {
        // gap: 16px;
        gap: 4px;
        padding: 0;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "card__image"
            "card__text"
            "card__button";
    }

    .card__image {
        grid-area: card__image;
        background-size: cover;
        height: 352px;
        width: 352px;
        box-shadow: 2px 2px 4px rgba(51, 7, 116, 0.8);
        border-radius: 8px;
        overflow: hidden;
        align-self: center;
        color: #fff;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        justify-content: space-between;

        @media screen and (max-width:768px) {
            height: auto;
        }

        .card__price {
            background-image: url('../images/icons/card_pice_bg.svg');
            background-repeat: no-repeat;
            background-position: top right;
            padding: 16px 8px;
            font-size: 24px;
            align-self: flex-end;
            min-width: 160px;
            line-height: 29px;
            text-align: right;
            filter: drop-shadow(-2px 2px 2px #330774);
        }

        .image_footer {
            padding: 0 16px;
            font-size: 16px;
            background-color: #741FF2;
            text-align: left;
            line-height: 52px;
            min-height: 52px;
        }

        .no-background {
            background-color: transparent;
        }


        @media screen and (max-width:768px) {
            // height: 100%;
            width: 100%;
            background-size: cover;
        }
    }

    .card__text {
        @media screen and (max-width:768px) {
            padding: 4px;
            /*  hide text  */
            height: 0;
            overflow: hidden;
            /* hide text*/
        }

        text-align: left;
        grid-area: card__text;

        p {
            margin-bottom: 16px;
        }
    }

    .card__button {
        grid-area: card__button;
        justify-self: end;

        @media screen and (max-width:768px) {
            justify-self: center;
            margin-bottom: 4px;
        }
    }

    .hide-text {
        height: auto;
        overflow: visible;
        // height: 0;
        // overflow: hidden;
        // opacity: 0;
    }
}