@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
    font-size: 16px;
    font-family: 'Montserrat',
        sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* container max width -------------------  */
.container {
    margin: 0 auto;
    max-width: 1120px;

}

/* header --------------------------------- */
.header {
    font-weight: 600;
    width: 100%;
    backdrop-filter: blur(16px);
    background: radial-gradient(108.28% 18624.03% at 0% 12.3%, rgba(255, 255, 255, 0.4) 0%, rgba(230, 209, 240, 0.4) 100%);
    box-shadow: 0px 2px 4px #E3D2FC;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.header__row {
    min-height: 128px;
    align-items: center;
}

.header__logo {
    width: 160px;
    margin-right: 32px;
}

.header__nav {
    width: 100%;

    a {
        margin-right: 32px;
    }

    a:last-child {
        margin-right: 0;
        margin-left: auto;
    }

}



/* main -------------------  */
.main {
    margin: 0 auto;
    flex: 1 1 auto;
}

.subheader {
    background-image: url("/img/abstract-background-with-ink\ 1.jpg");
    padding-top: 192px;
    min-height: 638px;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
}

.subheader__title {
    min-height: 446px;
    background-image: url("/img/subheader_main_image.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: center;
}

.subheader__title_header {
    font-size: 96px;
    max-width: 650px;
    line-height: 110%;
    font-weight: 500;
    margin-left: 17%;

    span:last-child {
        margin-left: 45%;
    }
}

.subheader__title_text {
    font-size: 32px;
    margin-left: 23%;
}

/* footer -------------------  */
.footer {
    background-color: #C7A5FA;
    color: #fff;
}