@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
    font-size: 16px;
    font-family: 'Montserrat',
        sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: inline-block;
}

/* container max width -------------------  */
.container {
    width: 100%;
    margin: 0 auto;
    // max-width: 1120px;
    padding: 0 10px;
    max-width: 1140px;

    @media screen and (max-width: 768px) {
        max-width: 724px;

    }

    @media screen and (max-width: 376px) {
        max-width: 350px;
    }

}

/* header --------------------------------- */
.header {
    font-weight: 600;
    backdrop-filter: blur(16px);
    background: radial-gradient(108.28% 18624.03% at 0% 12.3%, rgba(255, 255, 255, 0.4) 0%, rgba(230, 209, 240, 0.4) 100%);
    box-shadow: 0px 2px 4px #E3D2FC;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.header__row {
    margin: 0 auto;
    width: 100%;
    min-height: 128px;
    align-items: center;
}

.header__logo {
    width: 160px;
    margin-right: 32px;
}

.header__nav {
    width: 100%;

    a {
        margin-right: 32px;
    }

    a:last-child {
        margin-right: 0;
        margin-left: auto;
    }

}



/* main -------------------  */
.main {
    width: 100%;
    margin: 0 auto;
    flex: 1 1 auto;
}

/* subheader ------------------- */

.subheader {
    background-image: url("../img/abstract-background-1.jpg");
    padding-top: 192px;
    // min-height: 638px;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
}

.subheader__title {
    min-height: 446px;
    background-image: url("../img/subheader_main_image.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: center;
}

.subheader__title_header {
    font-size: 96px;
    max-width: 650px;
    line-height: 110%;
    font-weight: 500;
    margin-left: 17%;

    span:last-child {
        margin-left: 45%;
    }
}

.subheader__title_text {
    font-size: 32px;
    margin-left: 23%;
}

/* subheader2 --------------------*/

.subheader2 {
    background: url('../img/subheader2__backgrpund.png') 0 0/100% 100% no-repeat;
    // background-size: cover;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

.subheader2_title {
    min-height: 220px;
    color: #fff;
    font-size: 46px;
    font-style: italic;
    text-align: center;
}

/* about -------------------------*/

.about {
    padding: 32px 0;
}

.about_title {
    text-align: center;
    font-size: 46px;
    margin: 0 0 32px 0;
}

.about__main {
    // width: 100%;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 32px;
}

.about__image {}

.about__content {
    max-width: 735px;
    font-size: 16px;
    line-height: 150%;

    p {
        margin: 0 0 16px 0;
    }

    .flex-row {
        margin: 0 0 36px 0;
    }

    ul li {
        background-image: url('../svg/list_bullet.svg');
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 24px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.about_button {
    background: #904CF5;
    border-radius: 60px;
    min-width: 256px;
    min-height: 60px;
    color: #fff;
    font-weight: 600;
    transition: all ease-in-out 0.5s;

    &:hover {
        box-shadow: inset 4px 4px 16px #fff;
        color: #fff;
        transition: all ease-in-out 0.5s;
    }
}

/* Certificates -----------------*/

.certificates {
    background: radial-gradient(100% 786.95% at 0% 4.74%, #D3DEFC 0%, #E3D2FC 100%);
    backdrop-filter: blur(36px);
    padding: 40px 0;
}

.certificates__carousel {
    min-height: 464px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

/* Courses and trainings ---------- */
.coursese-and-trainungs {
    padding: 40px 0;
    text-align: center;
}

.coursese-and-trainungs__title {
    margin: 0 0 32px 0;
}

.coursese-and-trainungs__cards {
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 32px;
}

.coursese-and-trainungs__cards_card {
    width: 352px;
    height: 352px;
    border: grey 5px solid;
}

/* Consulting ----------------------*/
.consulting {
    // text-align: center;
    padding: 40px 0;
}

.consulting__title {
    text-align: center;
    margin-bottom: 40px;
}

.consulting__content {
    margin: 0 0 40px 0;
    gap: 32px;

    p {
        max-width: 544px;
        align-self: center;

        &:first-child {
            align-self: flex-start;
        }

        &:last-child {
            align-self: flex-end;
        }
    }
}

.consultiung__cards {
    justify-content: space-between;
    // flex-wrap: wrap;
}

.consultiung__cards_card {
    padding: 32px 16px;
    width: 352px;
    border: 1px solid #000000;
    border-radius: 8px;
    gap: 16px;
    text-align: center;

}

/* form --------------------------- */

.form {
    justify-content: space-between;
}

.form__title {
    margin-bottom: 40px;
    text-align: center;
}

.form__row {
    justify-content: space-between;
}

.form__column {
    width: 354px;
    justify-content: space-between;

}

.form_input {
    height: 60px;
    padding: 18px 16px;
    border: 1px solid #330774;
    border-radius: 8px;
}

/* blog ----------------------------*/

.blog {
    text-align: center;

}

.blog__title {
    padding: 40px 0;
    font-size: 2rem;
}

/*---- Blog Articles -------------------*/

.blog__article {}

.blog__article_title {
    padding: 40px 0;
}

.blog__article_title {
    justify-content: space-between;
}

.blog__article__content {}

/*---- Blog Video  ---------------------*/

.blog__video {}

.blog__video_title {
    padding: 40px 0;
}

.blog__video__carousel {}


/*----- blog Gallery --------------------*/
.blog__gallery {}

.blog__gallery_title {
    padding: 40px 0;
}

.blog__gallery__carousel {}




/* Blog  Poetry ------------------------*/
.blog__poetry {}

.poetry {}

.poetry-more {}







/* contacts ------------------------- */

.contacts {
    min-height: 252px;
    border: 5px solid red;
}




/* footer -------------------  */
.footer {
    min-height: 326px;
    background-color: #C7A5FA;
    color: #fff;
}