body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;

    // @media screen and (max-width: 375px) {
    @media screen and (max-width: 425px) {
        font-size: 24px;
        line-height: 24px;
    }
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

/* container max width -------------------  */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1160px;

    @media screen and (max-width: 768px) {
        padding: 0 32px;
    }

    // @media screen and (max-width: 375px) {
    @media screen and (max-width: 425px) {
        padding: 0 24px;

    }

}

/* ------- fixed link -------------- */

.fixed-page-icon {
    position: fixed;
    bottom: 100px;
    right: 13.5%;
    z-index: 1000;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    @media screen and (max-width:1440px) {}

    @media screen and (max-width:1024px) {}

    @media screen and (max-width:768px) {}

    @media screen and (max-width:425px) {
        height: 48px;
        width: 48px;

        img {
            max-width: 100%;
        }
    }

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {}

    &:hover {
        opacity: 1;
    }
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}




/* ======= start page styling ===========*/

// ##     ## ########    ###    ########  ######## ########  
// ##     ## ##         ## ##   ##     ## ##       ##     ## 
// ##     ## ##        ##   ##  ##     ## ##       ##     ## 
// ######### ######   ##     ## ##     ## ######   ########  
// ##     ## ##       ######### ##     ## ##       ##   ##   
// ##     ## ##       ##     ## ##     ## ##       ##    ##  
// ##     ## ######## ##     ## ########  ######## ##     ## 



/* ==================  header =================== */
.header {
    padding: 16px 0;
    font-weight: 700;
    backdrop-filter: blur(16px);
    background: radial-gradient(108.28% 18624.03% at 0% 12.3%, rgba(255, 255, 255, 0.4) 0%, rgba(230, 209, 240, 0.4) 100%);
    box-shadow: 0px 2px 4px #E3D2FC;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.5s;

    @-moz-document url-prefix() {
        background: #FFFFFFEB;
    }


    @media screen and (max-width:768px) {
        padding: 8px 0;
    }

    @media screen and (max-width:480px) {
        padding: 5px 0;
    }
}

.header__row {
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.logo {
    max-width: 160px;
    height: 96px;
    margin-right: 32px;
    position: relative;

    @media screen and (max-width:890px) {
        width: 88px;
        height: 54px;
    }

    .logo-front {
        opacity: 1;
    }

    img {
        width: 100%;
    }

    &:hover {
        @media screen and (max-width:1440px) {}

        @media screen and (max-width:1024px) {}

        @media screen and (max-width:768px) {}

        @media screen and (max-width:425px) {
            .logo-back {
                display: none;
            }
        }

        @media screen and (max-width:375px) {}

        @media screen and (max-width:320px) {}

        .logo-front {
            transition: linear 0.5s;
            opacity: 0;

            @media screen and (max-width:890px) {
                opacity: 1;
            }
        }

        .logo-back {
            opacity: 1;

            @media screen and (max-width:890px) {
                display: none;
            }
        }
    }
}

.logo-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 96px;
    opacity: 0;
    transition: linear 0.5s;
}


.header__nav {
    position: relative;
    width: 100%;

    @media screen and (max-width:890px) {
        // padding: 24px;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        width: auto;
        border-radius: 8px;
        top: 77px;
        right: 32px;
        background: #FFFFFF;
        box-shadow: 2px 2px 4px #330774;
        border-radius: 8px;
        overflow: hidden;
        height: 0;
        // display: none;

        a {
            margin-right: 0;
            display: inline-block;
            width: 100%;
            text-align: right;
            // line-height: 64px;
            padding: 0 24px 32px 24px;

            &:first-child {
                padding-top: 24px;
            }

            &:last-child {
                padding-bottom: 24px;
            }
        }

        &.header__nav__active {
            // display: block;
            // padding: 24px;
            height: auto;
        }
    }



    @media screen and (max-width:768px) {
        top: 48px;
        right: 32px;
    }

    @media screen and (max-width:425px) {
        right: 24px;
    }

    @media screen and (max-width:375px) {
        top: 46px;
    }

    a {
        // position: relative;
        color: #000;
        margin-right: 32px;

        @media screen and (max-width:890px) {
            margin-right: 0;
        }

        &:last-child {
            margin-left: auto;
            margin-right: 0;
        }

        &:hover {
            color: #904CF5;
            text-underline-offset: 30%;
            text-decoration: underline 2px;
        }
    }
}

.hamburger_menu {
    display: none;
    background-color: transparent;

    @media screen and (max-width:890px) {
        display: block;
        position: absolute;
        right: 32px;
        height: 24px;
        width: 24px;
        z-index: 100;
    }

    @media screen and (max-width:425px) {
        right: 24px;
    }
}

// ##     ##    ###    #### ##    ## 
// ###   ###   ## ##    ##  ###   ## 
// #### ####  ##   ##   ##  ####  ## 
// ## ### ## ##     ##  ##  ## ## ## 
// ##     ## #########  ##  ##  #### 
// ##     ## ##     ##  ##  ##   ### 
// ##     ## ##     ## #### ##    ## 
/* main -------------------  */
.main {
    width: 100%;
    margin: 0 auto;
    flex: 1 1 auto;
}

//  ######  ##     ## ########  ##     ## ########    ###    ########  ######## ########  
// ##    ## ##     ## ##     ## ##     ## ##         ## ##   ##     ## ##       ##     ## 
// ##       ##     ## ##     ## ##     ## ##        ##   ##  ##     ## ##       ##     ## 
//  ######  ##     ## ########  ######### ######   ##     ## ##     ## ######   ########  
//       ## ##     ## ##     ## ##     ## ##       ######### ##     ## ##       ##   ##   
// ##    ## ##     ## ##     ## ##     ## ##       ##     ## ##     ## ##       ##    ##  
//  ######   #######  ########  ##     ## ######## ##     ## ########  ######## ##     ## 


/* subheader ------------------- */

.subheader {
    background: url("../images/abstract-bg1.jpg") center/cover no-repeat;
    height: 638px;

    @media screen and (max-width:768px) {
        height: 304px;
    }

    @media screen and (max-width:375px) {
        height: 278px;
    }

    .container {
        height: 100%;
    }
}





.subheader__content {
    padding-top: 192px;
    height: 100%;
    background: url("../images/Lyudmila-Korolchuk-psychologist-art-therapist.png") left bottom / 346px 446px no-repeat;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width:768px) {
        margin-left: 30px;
        padding-top: 96px;
        background-size: 162px 208px;
    }

    @media screen and (max-width:425px) {
        margin-left: 0;
    }

    @media screen and (max-width:375px) {
        padding-top: 80px;
    }
}

.subheader__title {
    margin-left: 30%;
    font-size: 96px;
    max-width: 673px;
    line-height: 110%;
    font-style: italic;

    @media screen and (max-width:768px) {
        font-size: 48px;
        line-height: 110%;
        max-width: 344px;
    }

    @media screen and (max-width: 425px) {
        font-size: 32px;
        margin-left: 0;
        width: 100%;
        line-height: 140%;
    }

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {}

}

.subheader__title_top {
    align-self: flex-start;

    @media screen and (max-width: 425px) {
        align-self: flex-end;
    }
}

.subheader__title_bottom {
    width: 485px;
    align-self: flex-end;

    // @media screen and (max-width: 375px) {
    @media screen and (max-width: 768px) {
        width: 100%;
        text-align: right;
    }

    span {
        display: block;
    }
}

.subheader__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 32px;
    font-weight: 500;

    @media screen and (max-width:768px) {
        // text-align: center;
        padding-right: 37px;
        font-size: 16px;
    }

    @media screen and (max-width: 425px) {
        padding-right: 0;

    }
}



/* non-main page -----------------*/

.subheader__non-main-page {
    background-image: url("../images/abstract-bg2.jpg");
    // background-position: center;

    .subheader__content {
        background-image: none;
    }
}

/* non-main page end ------------------ */


//  ######  ##         #######  ########   #######  ###    ##
// ##    ## ##        ##     ## ##     ## ##     ## ####   ##
// ##       ##        ##     ## ##        ##     ## ## ##  ##
//  ######  ##        ##     ## ##   #### ######### ##  ## ##
//       ## ##        ##     ## ##     ## ##     ## ##   ####
// ##    ## ##        ##     ## ##     ## ##     ## ##    ###
//  ######  #########  #######   #######  ##     ## ##     ##

/* slogan --------------------*/

.slogan {
    text-align: center;
    position: relative;

    height: 152px;
    background: url('../images/slogan_bg.png') right/100% 100% no-repeat;
    top: -60px;

    @media screen and (max-width: 1600px) {
        background: url('../images/slogan_bg.png') right/auto 100% no-repeat;
    }

    @media screen and (max-width: 768px) {
        background: url('../images/slogan_bg_medium.png') center/auto 100% no-repeat;
        height: 84px;
        top: -40px;
    }

    @media screen and (max-width: 375px) {
        background: url('../images/slogan_bg_small.png') right/auto 100% no-repeat;
        height: 48px;
        top: -20px;
    }
}

.slogan_title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    font-family: 'Lora';

    @media screen and (max-width:1440px) {
        font-size: 2.9rem;
    }

    @media screen and (max-width:1040px) {
        font-size: 2.7rem;
    }

    @media screen and (max-width:960px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width:890px) {
        font-size: 2.3rem;
    }

    @media screen and (max-width:830px) {
        font-size: 2.1rem;
    }

    @media screen and (max-width:768px) {
        // font-size: 2rem;
        font-size: 1rem;
    }

    // @media screen and (max-width:700px) {
    //     font-size: 1.8rem;
    // }

    // @media screen and (max-width:630px) {
    //     font-size: 1.6rem;
    // }

    // @media screen and (max-width:570px) {
    //     font-size: 1.5rem;
    // }

    // @media screen and (max-width:530px) {
    //     font-size: 1.15rem;
    // }


    @media screen and (max-width:425px) {
        font-size: 1rem;
    }

    @media screen and (max-width:375px) {
        font-size: 0.9rem;
    }

    @media screen and (max-width:320px) {
        font-size: 0.7rem;
    }

}

//    ###    ########   #######  ##     ## ######## 
//   ## ##   ##     ## ##     ## ##     ##    ##    
//  ##   ##  ##     ## ##     ## ##     ##    ##    
// ##     ## ########  ##     ## ##     ##    ##    
// ######### ##     ## ##     ## ##     ##    ##    
// ##     ## ##     ## ##     ## ##     ##    ##    
// ##     ## ########   #######   #######     ##    

/* about -------------------------*/

.about {
    padding: 64px 0;

    @media screen and (max-width: 768px) {
        padding: 32px 0;
    }

    @media screen and (max-width: 425px) {
        padding: 0 0 32px 0;
    }
}

.about_title {
    text-align: center;
    margin: 0 0 24px 0;
}

.about__main {
    margin-bottom: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 352px 1fr;
    grid-template-rows: auto auto;
    gap: 0 34px;

    grid-template-areas: "about-image about-text"
        "about-image about-text2";

    @media screen and (max-width:1440px) {}

    @media screen and (max-width:1024px) {}

    @media screen and (max-width:768px) {
        grid-template-areas: "about-image about-text"
            "about-text2 about-text2";
        gap: 0 14px;
    }

    @media screen and (max-width:660px) {
        grid-template-columns: 1fr;
        grid-template-areas: "about-text"
            "about-text2";
        gap: 0;
    }

    @media screen and (max-width:425px) {
        grid-template-columns: 1fr;
        grid-template-areas: "about-text"
            "about-text2";
        gap: 0
    }

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {}
}

.about__image {
    grid-area: about-image;
    max-width: 340px;

    img {
        max-width: 100%;
    }

    @media screen and (max-width:768px) {
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 660px) {
        display: none;
    }
}

.about__content {
    grid-area: about-text;
    max-width: 100%;

    &:last-child {
        grid-area: about-text2;
    }

    font-size: 16px;
    line-height: 150%;

    p {
        max-width: 735px;
        margin: 0 0 16px 0;
    }

    .flex-row {
        margin: 0 0 36px 0;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            gap: 16px;
        }

        @media screen and (max-width: 660px) {
            flex-wrap: nowrap;
        }

        @media screen and (max-width: 570px) {
            flex-wrap: wrap;
        }
    }

    ul li {
        background-image: url('../images/icons/list_bullet.svg');
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 24px;
        max-width: 350px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.button_style {
    border-radius: 60px;
    min-width: 256px;
    min-height: 60px;
    color: #fff !important;
    font-weight: 600;
    background: linear-gradient(#904CF5);
    background-color: #904CF5;
    // position: relative;
    padding: 4px;
    transition: 0.3s ease-in-out;


    &:hover {
        color: #fff;
        transition: 0.1s ease-in-out;
        background: linear-gradient(90.43deg, #4D7AF5 3.03%, #904CF5 55.73%, #F54DE9 97.29%);
        box-shadow: 1px 1px 4px #330774;
    }

    &:active {
        box-shadow: 2px 2px 4px #330774;
        color: #330774;

        >span {
            box-shadow: inset 4px 4px 16px #904CF5;
            background: #fff;
            height: 52px;
            width: 100%;
            color: #FFFFFF;
            border-radius: 60px;
            color: #330774;

        }
    }
}



//  ######  ######## ########  ######## #### ######## ####  ######     ###    ######## ########  ######  
// ##    ## ##       ##     ##    ##     ##  ##        ##  ##    ##   ## ##      ##    ##       ##    ## 
// ##       ##       ##     ##    ##     ##  ##        ##  ##        ##   ##     ##    ##       ##       
// ##       ######   ########     ##     ##  ######    ##  ##       ##     ##    ##    ######    ######  
// ##       ##       ##   ##      ##     ##  ##        ##  ##       #########    ##    ##             ## 
// ##    ## ##       ##    ##     ##     ##  ##        ##  ##    ## ##     ##    ##    ##       ##    ## 
//  ######  ######## ##     ##    ##    #### ##       ####  ######  ##     ##    ##    ########  ######  




/* Certificates -----------------*/

/*
flex swiper
min-widht: 0;
*/

.certificates {
    max-height: 536px;
    background: radial-gradient(100% 786.95% at 0% 4.74%, #D3DEFC 0%, #E3D2FC 100%);
    backdrop-filter: blur(36px);
    padding: 10px 0;
    margin-bottom: 118px;

    // @media screen and (max-width: 375px) {
    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
    }

    @media screen and (max-width: 425px) {
        margin-bottom: 32px;
    }
}

.certificates__swiper {
    padding: 40px 15px;

    // @media screen and (max-width: 375px) {
    @media screen and (max-width: 425px) {
        padding: 14px 0px;
    }
}


.certificates__swiper-slide {
    text-align: center;
    height: auto;

    &:hover {
        z-index: 100;
    }

    :not(:last-child) {
        margin-bottom: 32px;
    }

    img {
        max-width: 256px;
        display: inline;
        border-radius: 8px;
        transition: all ease-in-out 0.3s;
        // min-width: 50%;
        user-select: none;

        &:hover {
            transform: scale(1.3);
            transition: all ease-in-out 0.3s;
        }


    }

}

.certificates-pagination {
    position: relative;
    top: 20px;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    margin: 0 32px;
    line-height: 40px;
    // background: #7A9BF7;
    background-color: rgba(122, 155, 247, 1);

    @media screen and (max-width: 430px) {
        width: 16px;
        height: 16px;
    }
}

.swiper-pagination-bullet-active {
    background-color: #2159F2;
}

//  ######   #######  ##     ## ########   ######  ########  ######        ###    ##    ## ########     ######## ########     ###    #### ##    ## #### ##    ##  ######    ######  
// ##    ## ##     ## ##     ## ##     ## ##    ## ##       ##    ##      ## ##   ###   ## ##     ##       ##    ##     ##   ## ##    ##  ###   ##  ##  ###   ## ##    ##  ##    ## 
// ##       ##     ## ##     ## ##     ## ##       ##       ##           ##   ##  ####  ## ##     ##       ##    ##     ##  ##   ##   ##  ####  ##  ##  ####  ## ##        ##       
// ##       ##     ## ##     ## ########   ######  ######    ######     ##     ## ## ## ## ##     ##       ##    ########  ##     ##  ##  ## ## ##  ##  ## ## ## ##   ####  ######  
// ##       ##     ## ##     ## ##   ##         ## ##             ##    ######### ##  #### ##     ##       ##    ##   ##   #########  ##  ##  ####  ##  ##  #### ##    ##        ## 
// ##    ## ##     ## ##     ## ##    ##  ##    ## ##       ##    ##    ##     ## ##   ### ##     ##       ##    ##    ##  ##     ##  ##  ##   ###  ##  ##   ### ##    ##  ##    ## 
//  ######   #######   #######  ##     ##  ######  ########  ######     ##     ## ##    ## ########        ##    ##     ## ##     ## #### ##    ## #### ##    ##  ######    ######  


/* Courses and trainings ---------- */
.courses-trainings {
    text-align: center;
    margin-bottom: 128px;

    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
    }

    @media screen and (max-width: 425px) {
        margin-bottom: 32px;
    }

    .container {
        padding: 10px;
    }
}

.courses-trainings__title {
    margin: 0 0 64px 0;

    @media screen and (max-width: 768px) {
        margin: 0 0 32px 0;
    }

    @media screen and (max-width: 425px) {
        margin: 0 0 16px 0;
    }
}

/* card section ---------------------- */
.courses-trainings__container {
    transition: 0.5s;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 32px;

    @media screen and (max-width: 425px) {
        gap: 14px;
    }
}

.courses-trainings__card {
    position: relative;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
    background-size: cover;

    // @media screen and (max-width: 375px) {}
}

.flip-card__item {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.6s;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.flip-card__container:hover .flip-card_item {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
}


// card-front side -------------------------------//

.flip-card-front {
    font-size: 32px;
    line-height: 39px;
    padding: 0 40px;
}

// card-back side --------------------------- //

.flip-card-back {
    transform: rotateY(180deg);
    text-align: left;
    padding-top: 23px;
}

// card-back-flip style 
.flip-card__main {
    padding-left: 8px;
    flex: 1 1 auto;
}

.flip-card-title {
    max-width: 310px;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.flip-card-text {
    font-size: 16px;
    line-height: 20px;
    width: 320px;
    margin-bottom: 8px;
    font-weight: 600;
}

.flip-card-price {
    font-size: 24px;
    line-height: 200%;
    font-weight: 600;
}

.flip-card_footer {
    background-color: #741FF2;
    font-size: 16px;
    text-transform: uppercase;
    height: 60px;
}

// ------------------------- flip animation

.flip-card {
    display: inline-block;
    background-color: transparent;
    width: 352px;
    height: 352px;
    perspective: 1000px;

    @media screen and (max-width: 425px) {
        width: 152px;
        height: 152px;

        transition: 0.5s;

        &:hover {
            width: 352px;
            height: 352px;
            transition: 0.5s;
        }
    }
}

.flip-card:hover .flip-card__item {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    @media screen and (max-width: 425px) {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
        line-height: 21px;
        width: 156px;
        height: 156px;
    }
}

// each card background 

.important-about-yourself {
    background-image: url("../images/courses-trainings/about-yourself.png");
}

.important-about-yourself-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/about-yourself.png");
    background-size: cover;
}

.treasures-in-the-shadows {
    background-image: url("../images/courses-trainings/treasures-in-the-shadows.png");
}

.treasures-in-the-shadows-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/treasures-in-the-shadows.png");
    background-size: cover;
}

.healing-the-inner-child {
    background-image: url("../images/courses-trainings/healing-the-inner-child.png");
}

.healing-the-inner-child-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/healing-the-inner-child.png");
    background-size: cover;
}

.my-life-my-rules {
    background-image: url("../images/courses-trainings/my-life-my-rules.png");
}

.my-life-my-rules-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/my-life-my-rules.png");
    background-size: cover;
}

.personal-code-of-your-confidence {
    background-image: url("../images/courses-trainings/code-of-your-confidence.png");
}

.personal-code-of-your-confidence-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/code-of-your-confidence.png");
    background-size: cover;
}

.the-artist-way {
    background-image: url("../images/courses-trainings/artist-way.png");
}

.the-artist-way-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/artist-way.png");
    background-size: cover;
}

.palette-of-my-soul {
    background-image: url("../images/courses-trainings/palette-of-my-soul.png");
}

.palette-of-my-soul-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/courses-trainings/palette-of-my-soul.png");
    background-size: cover;
}

//  ######   #######  ##    ##  ######  ##     ## ##       ######## #### ##    ##  ######   
// ##    ## ##     ## ###   ## ##    ## ##     ## ##          ##     ##  ###   ## ##    ##  
// ##       ##     ## ####  ## ##       ##     ## ##          ##     ##  ####  ## ##        
// ##       ##     ## ## ## ##  ######  ##     ## ##          ##     ##  ## ## ## ##   #### 
// ##       ##     ## ##  ####       ## ##     ## ##          ##     ##  ##  #### ##    ##  
// ##    ## ##     ## ##   ### ##    ## ##     ## ##          ##     ##  ##   ### ##    ##  
//  ######   #######  ##    ##  ######   #######  ########    ##    #### ##    ##  ######   

/* Consulting ----------------------*/
.consulting {
    width: 100%;
    margin-bottom: 64px;

    @media screen and (max-width:425px) {
        margin-bottom: 10px;
    }

}

.consulting_title {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 62px;

    @media screen and (max-width:768px) {
        margin-bottom: 32px;
    }

    @media screen and (max-width:425px) {
        font-size: 24px;
        margin-bottom: 16px;
    }
}

.consulting_text1 {
    grid-area: consulting_text1;
}

.consulting_text2 {
    grid-area: consulting_text2;
}

.consulting_text3 {
    grid-area: consulting_text3;
}

.consulting_text4 {
    grid-area: consulting_text4;
}

.consulting_text5 {
    grid-area: consulting_text5;
}

.consulting_text6 {
    grid-area: consulting_text6;
}

.consulting_text7 {
    grid-area: consulting_text7;
}

.consulting_image {
    grid-area: consulting_image;
    align-self: center;
}

.consulting__grid {
    width: 100%;
    justify-content: right;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 544px 352px;
    grid-template-rows: repeat(7, auto);
    gap: 24px 33px;
    grid-template-areas:
        "consulting_text1 consulting_image"
        "consulting_text2 consulting_image"
        "consulting_text3 consulting_image"
        "consulting_text4 consulting_image"
        "consulting_text5 consulting_image"
        "consulting_text6 consulting_image"
        "consulting_text7 consulting_image";

    @media screen and (max-width:1024px) {
        grid-template-columns: repeat(2, auto);
    }

    @media screen and (max-width:768px) {
        margin-bottom: 32px;
        justify-content: center;
        grid-template-columns: repeat(2, 344px);
        gap: 24px 16px;
        grid-template-areas: "consulting_text1 consulting_image"
            "consulting_text2 consulting_image"
            "consulting_text3 consulting_image"
            "consulting_text4 consulting_image"
            "consulting_text5 consulting_image"
            "consulting_text6 consulting_text7";
    }

    @media screen and (max-width:730px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "consulting_text1 consulting_text1"
            "consulting_text2 consulting_image"
            "consulting_text3 consulting_image"
            "consulting_text4 consulting_image"
            "consulting_text5 consulting_image"
            "consulting_text6 consulting_text6"
            "consulting_text7 consulting_text7";

        img {
            max-width: 100%;
        }
    }

    @media screen and (max-width:650px) {
        grid-template-areas: "consulting_text1 consulting_text1"
            "consulting_text2 consulting_image"
            "consulting_text3 consulting_image"
            "consulting_text4 consulting_image"
            "consulting_text5 consulting_text5"
            "consulting_text6 consulting_text6"
            "consulting_text7 consulting_text7";
    }

    @media screen and (max-width:530px) {
        grid-template-areas: "consulting_text1 consulting_text1"
            "consulting_text2 consulting_image"
            "consulting_text3 consulting_image"
            "consulting_text4 consulting_text4"
            "consulting_text5 consulting_text5"
            "consulting_text6 consulting_text6"
            "consulting_text7 consulting_text7";
    }

    @media screen and (max-width:425px) {
        grid-template-areas: "consulting_text1 consulting_text1"
            "consulting_text2 consulting_image"
            "consulting_text3 consulting_text3"
            "consulting_text4 consulting_text4"
            "consulting_text5 consulting_text5"
            "consulting_text6 consulting_text6"
            "consulting_text7 consulting_text7";
    }



    @media screen and (max-width:375px) {
        grid-template-columns: repeat(2, 156px);
    }

    @media screen and (max-width:375px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

// ----------------------------- cards section ----------------//

.consultiung__cards {
    max-width: 1120px;
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
    justify-content: space-between;
}

.consultiung__cards_card {
    overflow: hidden;
    background-color: #FFFFFF;
    height: 214px;
    width: 352px;
    padding: 32px 18px;
    text-align: center;
    border: 1px solid #330774;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.3s linear;

    @media screen and (max-width:768px) {
        width: 344px;
    }

    @media screen and (max-width:425px) {
        width: 280px;
        height: 194px;
        padding: 32px 12px;
    }

    &:hover {
        transition: all 0.3s linear;
        box-shadow: 4px 4px 4px rgba(93, 12, 212, 0.4);
    }

    h3 {
        font-size: 32px;
        font-weight: 400;
        margin: 0 0 16px 0;
        line-height: 39px;
        font-family: 'Montserrat',
            sans-serif;

        @media screen and (max-width:425px) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    span {
        position: relative;
        top: 0px;
        transition: all 0.3s linear;
    }

    span:not(:last-child) {
        margin: 0 0 16px 0;
    }

    .price {
        font-size: 24px;
        opacity: 1;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40px;
        text-align: center;
        opacity: 0;
        transition: all 0.3s linear;
    }

    &:hover {
        span {
            transition: all 0.3s linear;
            opacity: 0;
            top: 20px;
        }

        .price {
            position: absolute;
            top: 0px;
            transition: all 0.3s linear;
            opacity: 1;
        }
    }
}

// ########  #######  ########  ##     ## 
// ##       ##     ## ##     ## ###   ### 
// ##       ##     ## ##     ## #### #### 
// ######   ##     ## ########  ## ### ## 
// ##       ##     ## ##   ##   ##     ## 
// ##       ##     ## ##    ##  ##     ## 
// ##        #######  ##     ## ##     ## 


/* ----------- form section --------------------------- */

.form {
    margin: 96px 0;
    padding: 75px 0;
    background: url('../images/bg-form.jpg') 0 0 /105% 100% no-repeat;

    @media screen and (max-width:768px) {
        padding: 70px 0 80px 0;
        margin: 64px 0;
        background: url('../images/bg-form-medium.jpg')center/cover no-repeat;
    }

    @media screen and (max-width:736px) {
        padding: 0;
        background: none;
    }

    @media screen and (max-width:425px) {
        margin: 32px 0;
    }
}

.form__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    margin: 0 0 21px 0;
    text-align: center;

    @media screen and (max-width:1200px) {
        font-size: 24px;
        margin: 0;
        // margin: -24px 0 0 0;
        position: relative;
        z-index: 100;
        top: 60px;
    }

    @media screen and (max-width:736px) {
        font-size: 16px;
        // position: relative;
        color: #000;
        margin: -54px 0 0 0;
        top: 40px;
    }
}

/* ============   main form ================ */

.form_input {
    height: 60px;
    padding: 18px 16px;
    border: 1px solid #330774;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 24px;
}

.form-container {
    font-size: 14px;
    line-height: 21px;
    max-width: 1214px;
    margin: 0 auto;

    max-width: fit-content;
    padding: 48px 50px 48px 44px;

    background: #E3D2FC;
    border-radius: 8px;
    backdrop-filter: blur(40px);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 352px);
    grid-template-rows: 80px 86px 102px 60px;
    gap: 32px 24px;
    grid-template-areas:
        "form-consulting-select form-input-private-data form-textarea"
        "form-checkbox form-input-private-data form-textarea"
        "form-checkbox form-input-private-data form-input-date-time"
        "form-checkbox form-input-private-data form-submit";

    @media screen and (max-width:1200px) {
        padding-top: 76px;
        grid-template-columns: repeat(2, 344px);
        grid-template-rows: 80px 204px 185px 60px;
        gap: 30px 24px;
        grid-template-areas: "form-consulting-select form-input-private-data"
            "form-checkbox                           form-input-private-data"
            "form-textarea                           form-input-date-time"
            "form-submit                             form-submit";
    }

    @media screen and (max-width:736px) {
        padding-top: 46px;
        grid-template-columns: 328px;
        grid-template-rows: 162px 90px 184px 430px 100px 60px;
        gap: 12px;
        grid-template-areas:
            "form-textarea"
            "form-consulting-select"
            "form-checkbox"
            " form-input-private-data"
            "form-input-date-time"
            "form-submit";
    }

    @media screen and (max-width:425px) {}

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {
        grid-template-columns: 300px;
    }

}


.form-consulting-select {
    grid-area: form-consulting-select;

    .nice-select-dropdown {

        @media screen and (max-width:1200px) {
            .list {
                width: 344px;
            }
        }

        @media screen and (max-width:736px) {
            .list {
                width: 328px;
            }
        }
    }
}

.form-checkbox {
    grid-area: form-checkbox;

    .checkbox_title {
        margin-bottom: 16px;
    }

    .checkbox-container {
        @media screen and (max-width:1200px) {
            font-size: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            .checkbox-item {
                width: 155px;

                @media screen and (max-width:375px) {
                    width: 145px;
                }

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                }

                &:nth-child(3) {
                    order: 2;
                }

                &:nth-child(4) {
                    order: 4;
                }

                &:nth-child(5) {
                    order: 5;
                }

            }
        }

        .checkbox-item:not(:last-child) {
            margin-bottom: 16px;
        }

        .checkbox-item:last-child {
            width: 100%;
        }
    }
}

.form-input-private-data {
    grid-area: form-input-private-data;

    label {
        display: inline-block;

        @media screen and (max-width:1200px) {
            margin-bottom: 0;
        }
    }
}

.form-textarea {
    grid-area: form-textarea;

    textarea {
        height: 169px;
        resize: none;

        @media screen and (max-width:1200px) {
            height: 144px;
        }


    }
}

.form-input-date-time {
    grid-area: form-input-date-time;

    @media screen and (max-width:1200px) {
        align-self: end;
    }

}

.form-submit {
    grid-area: form-submit;

    button {
        width: 100%;
    }


    @media screen and (max-width:1200px) {
        justify-self: center;
        font-size: 16px;

        button {
            width: 344px;
        }
    }

    @media screen and (max-width:768px) {
        button {
            max-width: 100%;
        }
    }
}


/* ======= custom checkbox button ==========*/

input[type=checkbox] {
    display: none;
}

input[type="checkbox"]+label {
    cursor: pointer;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -1px 16px 0 0;
    vertical-align: middle;
    background: url('../images/icons/checkbox.svg') 1px 0 /auto no-repeat;
}

input[type="checkbox"]:checked+label span {
    // margin: -2px 16px 0 0;
    background: url('../images/icons/checkbox-active.svg') 0 0 /auto no-repeat;
}

.checkbox-container {

    @media screen and (max-width: 1261px) {
        //  width: 90%;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-around;
    }
}

/* ======= custom checkbox button end==========*/





// ######## ######## ######## ########  ########     ###     ######  ##    ##  ######  
// ##       ##       ##       ##     ## ##     ##   ## ##   ##    ## ##   ##  ##    ## 
// ##       ##       ##       ##     ## ##     ##  ##   ##  ##       ##  ##   ##       
// ######   ######   ######   ##     ## ########  ##     ## ##       #####     ######  
// ##       ##       ##       ##     ## ##     ## ######### ##       ##  ##         ## 
// ##       ##       ##       ##     ## ##     ## ##     ## ##    ## ##   ##  ##    ## 
// ##       ######## ######## ########  ########  ##     ##  ######  ##    ##  ######  


/*  ============ feedbacks  ===================  */

.feedback {
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 96px;

    @media screen and (max-width:768px) {
        margin-bottom: 64px;
    }

    @media screen and (max-width:425px) {
        margin-bottom: 32px;

    }
}

.feedback_title {
    margin-bottom: 64px;

    @media screen and (max-width:768px) {
        margin-bottom: 32px;
    }

    @media screen and (max-width:425px) {}

}


.feedback__card_swiper-slide {

    div {
        border-radius: 8px;
        padding: 16px;
        width: 352px;
        height: 248px;
        border: 1px solid #330774;
        background: white;
        filter: drop-shadow(2px 2px 4px rgba(116, 31, 242, 0.6));

        &:hover {
            box-shadow: 2px 2px 4px rgba(116, 31, 242, 0.6);
            box-shadow: 2px 2px 4px #741FF2;

        }

        @media screen and (max-width:1440px) {}

        @media screen and (max-width:1024px) {}

        @media screen and (max-width:768px) {
            width: 344px;
        }

        @media screen and (max-width:425px) {
            width: 328px;
            height: 256px;
            padding: 8px;
        }

        @media screen and (max-width:375px) {}

        @media screen and (max-width:320px) {
            height: auto;
        }

    }
}

.feedback_text {
    text-align: left;
    font-family: 'Lora';
    font-size: 16px;
    line-height: 150%;
}


// ########  ##        #######   ######   
// ##     ## ##       ##     ## ##    ##  
// ##     ## ##       ##     ## ##        
// ########  ##       ##     ## ##   #### 
// ##     ## ##       ##     ## ##    ##  
// ##     ## ##       ##     ## ##    ##  
// ########  ########  #######   ######   
/* blog ---------------------------------*/

.blog {
    text-align: center;
    margin-bottom: 64px;

    @media screen and (max-width:768px) {
        margin-bottom: 48px;
    }

    @media screen and (max-width:425px) {
        margin-bottom: 32px;
    }
}

.blog__title {
    font-size: 48px;
    margin-bottom: 32px;

    @media screen and (max-width:768px) {}

    @media screen and (max-width:425px) {
        font-size: 24px;
        margin-bottom: 16px;
    }
}

// ########        ###    ########  ######## ####  ######  ##       ########  ######  
// ##     ##      ## ##   ##     ##    ##     ##  ##    ## ##       ##       ##    ## 
// ##     ##     ##   ##  ##     ##    ##     ##  ##       ##       ##       ##       
// ########     ##     ## ########     ##     ##  ##       ##       ######    ######  
// ##     ##    ######### ##   ##      ##     ##  ##       ##       ##             ## 
// ##     ##    ##     ## ##    ##     ##     ##  ##    ## ##       ##       ##    ## 
// ########     ##     ## ##     ##    ##    ####  ######  ######## ########  ######  

/*---- Blog Articles -------------------*/
.blog__article {
    margin-bottom: 32px;
}


.blog__article_title {
    font-size: 32px;
    margin-bottom: 32px;

    @media screen and (max-width:768px) {
        margin-bottom: 23px;
    }

    @media screen and (max-width:425px) {
        font-size: 18px;
    }

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {}
}

.article__container {
    @media screen and (max-width:700px) {
        flex-direction: column;
        height: auto;
    }
}


.article__grid {
    flex: 0 1 auto;
    margin-right: 32px;

    @media screen and (max-width:768px) {
        margin-right: 16px;
    }

    .grid {
        max-width: 736px;
        height: 160px;
        margin-bottom: 32px;
        grid-template-columns: 160px auto;
        grid-template-rows: 0.6fr 1.8fr 0.6fr;
        grid-auto-rows: 1fr;
        gap: 8px 28px;
        grid-auto-flow: column dense;
        grid-template-areas:
            "photo title"
            "photo paragragh"
            "photo link";

        @media screen and (max-width:768px) {
            grid-template-columns: none;
            grid-auto-columns: 1fr;
            grid-template-rows: 160px auto 1fr 29px;
            gap: 4px 0px;
            height: 294px;
            grid-template-areas:
                "photo"
                "title"
                "paragragh"
                "link";
        }
    }

    .article__image {
        grid-area: photo;
        // border: 1px solid red;
        border-radius: 8px;
        overflow: hidden;

        img {
            display: inline-block;
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 160px;
        }

        @media screen and (max-width:768px) {

            // height: 160px;
            img {
                object-position: center;
            }
        }
    }

    .article__title {
        text-align: left;
        font-family: 'Montserrat',
            sans-serif;
        grid-area: title;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;

        @media screen and (max-width:1440px) {}

        @media screen and (max-width:1024px) {
            font-size: 20px;
        }

        @media screen and (max-width:768px) {
            font-size: 18px;
        }

        @media screen and (max-width:425px) {}

        @media screen and (max-width:375px) {}

        @media screen and (max-width:320px) {}
    }

    .article__text {
        text-align: left;
        grid-area: paragragh;
        font-size: 16px;
        line-height: 150%;
        max-height: 100px;
        overflow-y: hidden;
        background: -webkit-linear-gradient(#000, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .article__link {
        text-align: right;
        grid-area: link;
        font-size: 18px;
        line-height: 150%;
        padding: 0 32px 0 0;
        background-image: url('../images/icons/read-more.svg');
        background-position: right center;
        background-repeat: no-repeat;
    }
}

/* ========================= accordion =======================*/
.accordion {
    flex: 0 0 352px;
    // max-width: 352px;
    max-height: 594px;
    border-radius: 8px;
    overflow-y: hidden;

    @media screen and (max-width:700px) {
        flex: 0 0 auto;
        align-self: center;
    }

    @media screen and (max-width:375px) {
        max-width: 352px;
        flex: 0 1 auto;
    }

    .accordion__box {
        position: relative;

        &.active {
            .accordion_title {
                box-shadow: none;

                &::after {
                    content: url('../images/accordion/arrowUp.svg');
                }
            }

            .accordion__content {
                height: 438px;
                padding: 16px 8px;
            }
        }
    }
}

.accordion_title {
    text-align: left;
    position: relative;
    font-weight: 500;
    line-height: 150%;
    font-size: 24px;
    padding: 8px;
    background-color: #904CF5;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: inset 0px 2px 8px rgba(255, 255, 255, 0.8);
    transition: 0.5s;

    &::after {
        content: url('../images/accordion/arrowDown.svg');
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}


.accordion__content {
    align-self: center;
    text-align: left;
    height: 0;
    position: relative;
    background-color: #E3D2FC;
    overflow-y: auto;
    transition: 0.5s;
    color: black;
    padding: 0 8px;

    a img {
        display: inline-block;
        object-fit: cover;
        width: 64px;
        height: 64px;
        flex: 0 0 64px;
        overflow: hidden;
        border-radius: 8px;
        margin: 0 32px 0 0;
    }

    .flex-row:not(:last-child) {
        margin: 0 0 16px 0;
    }
}

.accordion_text {
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}


// ########     ##     ## #### ########  ########  #######  
// ##     ##    ##     ##  ##  ##     ## ##       ##     ## 
// ##     ##    ##     ##  ##  ##     ## ##       ##     ## 
// ########     ##     ##  ##  ##     ## ######   ##     ## 
// ##     ##     ##   ##   ##  ##     ## ##       ##     ## 
// ##     ##      ## ##    ##  ##     ## ##       ##     ## 
// ########        ###    #### ########  ########  #######  

/*---- Blog Video  ---------------------*/

.blog__video {
    margin-bottom: 64px;

    @media screen and (max-width:768px) {
        margin-bottom: 48px;
    }

    @media screen and (max-width:425px) {
        margin-bottom: 32px;
    }
}

.blog__video_title {
    font-size: 32px;
    line-height: 150%;
    margin: 64px auto 32px auto;

    @media screen and (max-width:768px) {
        margin: 0 auto 16px auto;
    }

    @media screen and (max-width:425px) {
        font-size: 18px;
    }
}

.blog__video_link {
    align-self: flex-start;
    margin: 0 0 22px 0;

    img {
        position: relative;
        top: 7px
    }
}


.blog__video-container {
    justify-content: center;
    gap: 3%;
}

.blog__video-item {
    position: relative;
    overflow: hidden;
    flex: 0 1 352px;
    // width: 352px;
    height: 192px;
    // height: auto;
    border-radius: 8px;
    background: linear-gradient(180deg, #741FF2 0%, #C7A5FA 15.03%, rgba(255, 255, 255, 0.2) 27.01%, rgba(255, 255, 255, 0) 38.52%);

    @media screen and (max-width:768px) {
        flex: 0 1 344px;

        &:last-child {
            display: none;
        }
    }

    @media screen and (max-width:425px) {
        flex: 0 0 344px;

        &:first-child {
            display: none;
        }
    }

    @media screen and (max-width:320px) {
        flex: 0 0 310px;

    }
}



// ########       ######      ###    ##       ##       ######## ########  ##    ## 
// ##     ##     ##    ##    ## ##   ##       ##       ##       ##     ##  ##  ##  
// ##     ##     ##         ##   ##  ##       ##       ##       ##     ##   ####   
// ########      ##   #### ##     ## ##       ##       ######   ########     ##    
// ##     ##     ##    ##  ######### ##       ##       ##       ##   ##      ##    
// ##     ##     ##    ##  ##     ## ##       ##       ##       ##    ##     ##    
// ########       ######   ##     ## ######## ######## ######## ##     ##    ##    

/*----- blog Gallery --------------------*/
.blog__gallery {
    margin-bottom: 64px;

    @media screen and (max-width:768px) {
        margin-bottom: 48px;
    }

    @media screen and (max-width:425px) {
        margin-bottom: 32px;
    }

}

.blog__gallery_title {
    line-height: 150%;
    font-size: 32px;
    margin-bottom: 40px;

    @media screen and (max-width:768px) {
        margin-bottom: 16px;
    }

    @media screen and (max-width:425px) {
        font-size: 18px;
    }
}

.blog__gallery_text {
    max-width: 550px;
    margin: 0 auto 32px auto;
    line-height: 24px;

    @media screen and (max-width:768px) {
        margin-bottom: 16px;
    }

    @media screen and (max-width:425px) {
        font-size: 18px;
    }

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {}
}

// ------------------------ images container 

/* hide on 768*/
.hide-on-768 {
    @media screen and (max-width:768px) {
        display: none;
    }
}


.visible-on-768 {
    display: none;

    @media screen and (max-width:768px) {
        display: flex;
    }
}

.visible-on-425 {
    display: none;

    @media screen and (max-width:425px) {
        display: flex;
    }
}

.hide-on-425 {
    @media screen and (max-width:425px) {
        display: none;
    }
}

.image-container {
    // gap: 32px;
    gap: 2%;
    justify-content: center;
    margin-bottom: 2%;
    position: relative;
}

.image-item {
    max-width: 352px;
    border-radius: 8px;
    overflow: hidden;
    transition: 1s;

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        transform: scale(1.2);
        // translate: 3s;
    }
}


// ########        ########   #######  ######## ######## ########  ##    ## 
// ##     ##       ##     ## ##     ## ##          ##    ##     ##  ##  ##  
// ##     ##       ##     ## ##     ## ##          ##    ##     ##   ####   
// ########        ########  ##     ## ######      ##    ########     ##    
// ##     ##       ##        ##     ## ##          ##    ##   ##      ##        
// ########        ##         #######  ########    ##    ##     ##    ##    


/* Blog  Poetry ------------------------*/

.poetry {
    padding: 0 0 32px 0;
    justify-content: center;
    gap: 3%;

    @media screen and (max-width:1440px) {}

    @media screen and (max-width:1024px) {
        // &:last-child {
        //     display: none;
        // }
    }

    @media screen and (max-width:768px) {}

    @media screen and (max-width:425px) {}

    @media screen and (max-width:375px) {}

    @media screen and (max-width:320px) {}
}

.blog__poetry_title {
    margin: 0 0 32px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;

    @media screen and (max-width:768px) {
        margin-bottom: 24px;
    }

    @media screen and (max-width:425px) {
        margin-bottom: 16px;
    }

}

.blog__portey_sub-title {
    margin: 0 0 32px 0;
}


/* ---- poetry card ------ */

.poetry__card {
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #904CF5;
    overflow-y: auto;
    flex: 0 1 352px;
    height: 352px;
    position: relative;
    transition: all 0.3s linear;

    @media screen and (max-width:1024px) {
        &:last-child {
            display: none;
        }
    }

    @media screen and (max-width:733px) {
        &:nth-child(2) {
            display: none;
        }
    }


    &:hover {
        transition: all 0.3s linear;
        box-shadow: 4px 4px 18px #904CF5;
    }
}

.poetry__card_paraghraph {
    text-align: left;
    background: -webkit-linear-gradient(#000, #999, #fff);
    // background: -webkit-linear-gradient(#fff, #999, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s linear;

    &:hover {
        background: -webkit-linear-gradient(#999, #000);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.3s linear;

        @media screen and (max-width:425px) {
            opacity: 1;
            background: -webkit-linear-gradient(#000, #000);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    @media screen and (max-width:425px) {
        opacity: 1;
        background: -webkit-linear-gradient(#000, #000);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p:not(:last-child) {
        line-height: 150%;
        margin: 0 0 16px 0;

    }

}

// arrow read more

.poetry-link,
.feedback-link,
.gallery-link {
    font-size: 16px;
    color: #000;
    padding-right: 24px;
    display: flex;
    justify-content: right;
    background-image: url('../images/icons/read-more.svg');
    background-position: right center;
    background-repeat: no-repeat;
}

//  ######   #######  ##    ## ########    ###     ######  ########  ######  
// ##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    ##    ## 
// ##       ##     ## ####  ##    ##     ##   ##  ##          ##    ##       
// ##       ##     ## ## ## ##    ##    ##     ## ##          ##     ######  
// ##       ##     ## ##  ####    ##    ######### ##          ##          ## 
// ##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    ##    ## 
//  ######   #######  ##    ##    ##    ##     ##  ######     ##     ######  






/* contacts ------------------------- */

.contacts {
    margin-bottom: 64px;

}

.contacts_title {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 32px;

    @media screen and (max-width:1440px) {}

    @media screen and (max-width:1024px) {}

    @media screen and (max-width:768px) {}

    @media screen and (max-width:425px) {
        font-size: 24px;
    }
}

.contacts__row {
    margin: 0 auto;
    justify-content: center;

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
}

.contacts__column {
    max-width: 290px;
    margin: 0 60px 20px 0;
    gap: 16px;

    a {
        display: flex;
        align-items: center;
    }

    &:last-child {
        margin: 0;
    }

    img {
        padding-right: 8px
    }

    li {
        display: inline-block;
        margin-right: 8px;
    }

    @media screen and (max-width: 544px) {
        min-width: 280px;
        justify-content: flex-start;
        // align-items: center;
        // flex: 1 1 auto;
        margin: 0 0 20px 0;
    }
}



// ########  #######   #######  ######## ######## ########  
// ##       ##     ## ##     ##    ##    ##       ##     ## 
// ##       ##     ## ##     ##    ##    ##       ##     ## 
// ######   ##     ## ##     ##    ##    ######   ########  
// ##       ##     ## ##     ##    ##    ##       ##   ##   
// ##       ##     ## ##     ##    ##    ##       ##    ##  
// ##        #######   #######     ##    ######## ##     ## 


/* -------------------- footer --------------------- */

.footer {
    background-color: #C7A5FA;
    color: #fff;
    font-size: 14px;
    padding: 34px 0 16px 0;
}

.footer__container {
    margin-bottom: 24px;
    grid-template-columns: 160px auto auto;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 26px;
    grid-auto-flow: row;
    grid-template-areas:
        // "footer__logo footer__links footer__icons"
        // "footer__logo footer__links footer__icons"
        "footer__logo footer__links footer__icons";
    height: auto;

    @media screen and (max-width:768px) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 160px 1fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 26px;
        grid-template-areas: "footer__logo footer__links footer__icons"
            "footer__logo footer__links footer__icons"
            ". . footer__icons";
        height: 132px;
    }

    @media screen and (max-width:650px) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 52px 1fr 1.5fr;
        gap: 15px 0px;
        height: auto;
        grid-template-areas: "footer__logo footer__logo footer__logo"
            "footer__links footer__links footer__links"
            "footer__icons footer__icons footer__icons";

    }
}

.footer__logo {
    grid-area: footer__logo;

    @media screen and (max-width:650px) {
        img {
            width: 88px;
        }
    }

    img {
        display: inline-block;
        max-width: 100%;
    }

}

.footer__links {
    @media screen and (max-width:900px) {
        height: 80px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        align-self: start;
    }

    li {
        a img {
            margin-right: 8px;
        }

        &:first-child {
            margin-right: 90px;

            @media screen and (max-width:900px) {
                margin-right: 0;
            }
        }
    }


    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    grid-area: footer__links;
}

.footer__icons {
    gap: 16px;

    @media screen and (max-width:1080px) {
        flex-direction: column;
    }

    .flex-row {
        gap: 16px;
    }

    align-self: center;
    grid-area: footer__icons;
    justify-content: center;
}

.footer__bottom {
    text-align: center;

    @media screen and (max-width:650px) {
        text-align: left;
    }
}